In [1]:
'''
TIDE TIMING - currently set up for Landsat (gmt 16:00), need to get NAIP timing

Change detection worth looking into?
'''

'\nTIDE TIMING - currently set up for Landsat (gmt 16:00), need to get NAIP timing\n\nChange detection worth looking into?\n'

In [2]:
import geemap
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pdb
from IPython.display import display
import ee
import os
import glob

In [3]:
ee.Initialize()

In [4]:
px = ee.Geometry.Point([-70.846745,42.721478]) ##ENRICHED PLOT FROM PAPER!!! EXACT SPOT!

aoi = px.buffer(300)

In [5]:
# Define the date range for Iowa imagery (2010)
aoi_naip = ee.ImageCollection('USDA/NAIP/DOQQ') \
    .filterBounds(aoi) \
    .filterDate('2003-01-01', '2024-12-31')

x03 = ee.Image("USDA/NAIP/DOQQ/n_4207018_nw_19_1_20030731")

x04 = ee.Image("USDA/NAIP/DOQQ/n_4207018_nw_19_2_20040717")

x06 = ee.Image("USDA/NAIP/DOQQ/n_4207018_nw_19_2_20060808")

x08 = ee.Image("USDA/NAIP/DOQQ/n_4207018_nw_19_1_20080710")

x10 = ee.Image("USDA/NAIP/DOQQ/m_4207018_nw_19_1_20100820")

x12 = ee.Image("USDA/NAIP/DOQQ/m_4207018_nw_19_1_20120710")

x14 = ee.Image("USDA/NAIP/DOQQ/m_4207018_nw_19_1_20140712")

x16 = ee.Image("USDA/NAIP/DOQQ/m_4207018_nw_19_h_20160706")

x18 = ee.Image("USDA/NAIP/DOQQ/m_4207018_nw_19_060_20180806")

x21 = ee.Image("USDA/NAIP/DOQQ/m_4207018_nw_19_060_20211024") #october - only one not in july/august

# Visualization parameters
trueColorVis = {
    'min': 0,
    'max': 255,
}

In [ ]:
#Visualization; tides are from Boston gauge

Map = geemap.Map(center=[42.721478, -70.846745], zoom=16)

Map.addLayer(x03, trueColorVis, 'Deegan site 2003 - high tide (2.33 m)')

Map.addLayer(x04, trueColorVis, 'Deegan site 2004 - high tide (2.73 m)')

Map.addLayer(x06, trueColorVis, 'Deegan site 2006 - high tide (2.74 m)')

Map.addLayer(x08, trueColorVis, 'Deegan site 2008 - low tide (0.36 m)')

Map.addLayer(x10, trueColorVis, 'Deegan site 2010 - high tide (1.83 m)')

Map.addLayer(x12, trueColorVis, 'Deegan site 2012 - low tide (0.55 m)')

Map.addLayer(x14, trueColorVis, 'Deegan site 2014 - high tide (3.18 m)')

Map.addLayer(x16, trueColorVis, 'Deegan site 2016 - high tide (2.72 m)')

Map.addLayer(x18, trueColorVis, 'Deegan site 2018 - low tide (0.54 m)')

Map.addLayer(x21, trueColorVis, 'Deegan site 2021 - high tide (2.15 m)')

Map

In [7]:
#Tides -- MA (is this close enough to where NERR station is? check tide gauge location)

path = r'C:/Users/arj26323/Documents/Data/Tide data/MA_tides_FLATS_PIE' 
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

df_tides = pd.concat(li, axis=0, ignore_index=True)

df2 = df_tides.copy()
df2['Time (GMT)'] = pd.to_datetime(df2['Time (GMT)'])
df2['DOY'] = pd.to_datetime(df2['Date'])

time_mask = (df2['Time (GMT)'].dt.hour == 16)
df_time = df2[time_mask]

df_time['Verified (m)'] = df_time['Verified (m)'].replace('-', float('nan')).astype('float')

df_time

,Date,Time (GMT),Predicted (m),Preliminary (m),Verified (m),DOY
16,1985/01/01,2024-05-28 16:00:00,1.013,-,1.224,1985-01-01
40,1985/01/02,2024-05-28 16:00:00,1.441,-,1.550,1985-01-02
64,1985/01/03,2024-05-28 16:00:00,1.891,-,1.876,1985-01-03
88,1985/01/04,2024-05-28 16:00:00,2.336,-,2.422,1985-01-04
112,1985/01/05,2024-05-28 16:00:00,2.745,-,3.071,1985-01-05
...,...,...,...,...,...,...
350536,1984/12/27,2024-05-28 16:00:00,1.312,-,1.249,1984-12-27
350560,1984/12/28,2024-05-28 16:00:00,0.898,-,0.968,1984-12-28
350584,1984/12/29,2024-05-28 16:00:00,0.619,-,0.761,1984-12-29
350608,1984/12/30,2024-05-28 16:00:00,0.522,-,0.608,1984-12-30
350632,1984/12/31,2024-05-28 16:00:00,0.660,-,0.679,1984-12-31

In [8]:
df_timex = df_time[(df_time['Date'] > '2003-1-1') & (df_time['Date'] <= '2012-12-31')] #Study time limits

df_timex['Verified (m)'].quantile([.33, .67])

0.33    1.20388
0.67    2.52800
Name: Verified (m), dtype: float64

In [9]:
# Get the image IDs and acquisition dates separately
image_ids = aoi_naip.aggregate_array('system:index').getInfo()
acquisition_dates = aoi_naip.aggregate_array('system:time_start').getInfo()


# Create the DataFrame
dfx = pd.DataFrame({'Image': image_ids, 'acquisition_date': acquisition_dates})

dfx['Date'] = pd.to_datetime(dfx['acquisition_date'], unit='ms')
dfx['DOY'] = dfx['Date'].dt.strftime('%Y-%m-%d')
dfx['DOY'] = pd.to_datetime(dfx['DOY'])

df_u = pd.merge(dfx, df_time, on = 'DOY')

df_u['Verified (m)'] = df_u['Verified (m)'].replace('-', float('nan')).astype('float')

In [10]:
dfx

df_u #2003, 2004, 2006, 2010 taken at high tide. 2012, 2008 taken at low tide. Maybe compare '08 and '12?

,Image,acquisition_date,Date_x,DOY,Date_y,Time (GMT),Predicted (m),Preliminary (m),Verified (m)
0,m_4207018_nw_19_060_20180806,1533513600000,2018-08-06,2018-08-06,2018/08/06,2024-05-28 16:00:00,0.458,-,0.541
1,m_4207018_nw_19_060_20211024,1635033600000,2021-10-24,2021-10-24,2021/10/24,2024-05-28 16:00:00,2.188,-,2.154
2,m_4207018_nw_19_1_20100820,1282262400000,2010-08-20,2010-08-20,2010/08/20,2024-05-28 16:00:00,1.630,-,1.828
3,m_4207018_nw_19_1_20120710,1341878400000,2012-07-10,2012-07-10,2012/07/10,2024-05-28 16:00:00,0.446,-,0.554
4,m_4207018_nw_19_1_20140712,1405123200000,2014-07-12,2014-07-12,2014/07/12,2024-05-28 16:00:00,3.102,-,3.176
5,m_4207018_nw_19_h_20160706,1467763200000,2016-07-06,2016-07-06,2016/07/06,2024-05-28 16:00:00,2.645,-,2.721
6,n_4207018_nw_19_1_20030731,1059609600000,2003-07-31,2003-07-31,2003/07/31,2024-05-28 16:00:00,2.387,-,2.334
7,n_4207018_nw_19_1_20080710,1215648000000,2008-07-10,2008-07-10,2008/07/10,2024-05-28 16:00:00,0.379,-,0.359
8,n_4207018_nw_19_2_20040717,1090022400000,2004-07-17,2004-07-17,2004/07/17,2024-05-28 16:00:00,2.625,-,2.725
9,n_4207018_nw_19_2_20060808,1154995200000,2006-08-08,2006-08-08,2006/08/08,2024-05-28 16:00:00,2.608,-,2.737

In [11]:
x03.get('system:time_start')