In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pdb
from IPython.display import display
import os
import seaborn as sns
import statsmodels.formula.api as sm
from numpy.polynomial.polynomial import polyfit

In [5]:
##read data - biomass, Virginia LTER
##Mac:
# df = pd.read_csv('/Users/asariversjulien/Documents/Data/CSV files/Virginia_ChristianBlum.csv', skiprows=21)
# df_wq = pd.read_csv('/Users/asariversjulien/Documents/Data/CSV files/Virginia_WQ.csv', skiprows=21)

##PC:
df = pd.read_csv('C:/Users/arj26323/Documents/Data/Biomass datasets/Virginia_Misc/Virginia_ChristianBlum.csv', skiprows=21)
df_wq = pd.read_csv('C:/Users/arj26323/Documents/Data/Biomass datasets/Virginia_Misc/Virginia_WQ.csv', skiprows=21, \
                    encoding='cp1252') ##Have no idea what's with this encoding argument but it works

##Begin:
df = df[df['speciesName'] == 'Spartina alterniflora']
df = df[['EOYBYear', 'collectDate', 'marshName', 'siteName', 'marshRegion', 'monitoringPurpose', 'Transect', 'Replicate', 'speciesName', 'liveMass', 'deadMass', 'totalMass', 'latitude', 'longitude']]
df['collectDate'] = pd.to_datetime(df['collectDate'])

##water quality dataset, Virginia LTER
df_wq['measureDate'] = pd.to_datetime(df_wq['measureDate'])

max(df['liveMass'])

df
##IMPORTANT NOTE: 2017 data does not distinguish live from dead biomass due to a freezer failure

,EOYBYear,collectDate,marshName,siteName,marshRegion,monitoringPurpose,Transect,Replicate,speciesName,liveMass,deadMass,totalMass,latitude,longitude
12,1999,NaT,Bellvue,Bellvue,1,EOYB,D,b,Spartina alterniflora,28.40,0.1,28.50,37.625273,-75.671577
13,1999,NaT,Bellvue,Bellvue,1,EOYB,D,b,Spartina alterniflora,55.30,9.9,65.20,37.625273,-75.671577
14,1999,NaT,Bellvue,Bellvue,1,EOYB,D,a,Spartina alterniflora,49.40,14.8,64.20,37.625273,-75.671577
15,1999,NaT,Bellvue,Bellvue,1,EOYB,D,b,Spartina alterniflora,133.50,11.6,145.10,37.625273,-75.671577
16,1999,NaT,Bellvue,Bellvue,1,EOYB,D,a,Spartina alterniflora,145.30,6.5,151.80,37.625273,-75.671577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8203,2017,2017-08-14,Oyster,Oyster,1,EOYB,B,a,Spartina alterniflora,NaN,NaN,9.75,37.287549,-75.929133
8204,2017,2017-08-14,Oyster,Oyster,1,EOYB,B,b,Spartina alterniflora,NaN,NaN,2.26,37.287549,-75.929133
8232,2017,2017-08-04,Gator Tract,Gator,1,EOYB,C,a,Spartina alterniflora,2.67,0.0,2.67,37.167409,-75.940586
8234,2018,2017-08-14,Box Tree,Box_Tree,1,EOYB,C,a,Spartina alterniflora,15.94,0.0,15.94,37.395746,-75.876094
8236,2018,2017-08-14,Hog Island North,Hog,1,EOYB,C,b,Spartina alterniflora,23.91,0.0,23.91,37.451132,-75.672871

In [ ]:
df_wq['Year'] = pd.DatetimeIndex(df_wq['measureDate']).year
new_dfwq = df_wq.groupby('Year', as_index = False).mean()
no3 = new_dfwq[['Year', 'no3_no2']]
no3 = no3[no3['no3_no2'] < 80] #removed one year where there appears to be a massive outlier 
no3

In [ ]:
##summary statistics
df_means = df.groupby('EOYBYear', as_index = False).mean()
df_sem = df.groupby('EOYBYear').sem()

df_means['Year'] = df_means['EOYBYear']
#df.groupby('EOYBYear').aggregate([np.mean, np.size])
df_means ##'average lat/long' useless

list(df_means)
mn_mass = df_means[['Year', 'liveMass']]
mn_mass
xxx = pd.merge(mn_mass, no3, on='Year')
xxx

g = sns.lmplot(x = 'no3_no2', y = 'liveMass', ci = 95, data = xxx)
g.set_axis_labels("µmol/L NO$_3$", "Yearly average biomass (g/$m^2$)")

##nitrate/nitrite units: micromols per Liter

In [ ]:
result = sm.ols(formula="liveMass ~ no3_no2", data = xxx).fit()
print(result.params)
print(result.summary()) ##no sig relationship - due to small sample size?

xxx['liveMass'].corr(xxx['no3_no2'], method = 'pearson')