In [75]:
import geemap
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pdb
from IPython.display import display
import ee
import os

In [76]:
#ee.Authenticate()
#geemap.update_package()

ee.Initialize()

Map = geemap.Map(center=[31.539096,-81.422318], zoom=10)

##Adding every plot coordinate
allplots_fc = 'C:/Users/arj26323/Documents/Data/Biomass datasets/Sapelo/GA_allplots_NEW.csv'
fc_all = geemap.csv_to_ee(allplots_fc, latitude = "Latitude", longitude = "Longitude")

In [77]:
##Function to cloud mask from the pixel_qa band of Landsat 5/8 SR data.

#IS THIS SAME BETWEEN SENSORS: https://github.com/giswqs/geemap/discussions/672

def maskL8sr(image):
    qaMask = image.select('QA_PIXEL').bitwiseAnd(int('11111', 2)).eq(0)
    saturationMask = image.select('QA_RADSAT').eq(0)
    # Apply the scaling factors to the appropriate bands.
    opticalBands = image.select('SR_B.').multiply(0.0000275).add(-0.2)
    thermalBands = image.select('ST_B.*').multiply(0.00341802).add(149.0)
    # Replace the original bands with the scaled ones and apply the masks.
    return image.addBands(opticalBands, None, True) \
    .addBands(thermalBands, None, True) \
    .updateMask(qaMask) \
    .updateMask(saturationMask)

#NOTE 10/6/2022 - This has been updated for Landsat Collection 2 https://www.usgs.gov/landsat-missions/landsat-collection-2

In [78]:
##TIDAL FILTERING; from Narron et al. 2022
##Utilizes L8 bands 4 and 6 for NDWI, and bands 3 and 4 (for pheno)
##Does it work for Landsat 5?

def addFLATS(image):
    flats = ee.Image(0).expression(
        '1/(1+2.718281828459045**-(-1.57 + 20*(RED-SWIR)/(RED+SWIR) + 68.6*(GREEN-RED)/(GREEN+RED)))', {
            'SWIR': image.select('SR_B6'),
            'RED': image.select('SR_B4'),
            'GREEN': image.select('SR_B3')
        })
    
    return image.addBands(flats.rename('flats'))

def addFLATSL5(image):
    flats = ee.Image(0).expression(
        '1/(1+2.718281828459045**-(-1.57 + 20*(RED-SWIR)/(RED+SWIR) + 68.6*(GREEN-RED)/(GREEN+RED)))', {
            'SWIR': image.select('SR_B5'),
            'RED': image.select('SR_B3'),
            'GREEN': image.select('SR_B2')
        })
    
    return image.addBands(flats.rename('flats'))

#Updated 10/6/2022 - Band names changed for Collection 2

##MASKING FLATS
def maskFLATS(image):
    mask1 = image.select('flats').lte(0.1) #less than or equal to 0.1 - change?
    return image.updateMask(mask1)

##ADDING NDVI (for min/max variables)
def addL5ndvi(image):
    ndvi = image.expression(
        '(NIR-RED)/(RED+NIR)', {
            'NIR': image.select('SR_B4'),
            'RED': image.select('SR_B3'),
            'GREEN': image.select('SR_B2')
        })
    
    return image.addBands(ndvi.rename('ndvi'))

def addL8ndvi(image):
    ndvi = image.expression(
        '(NIR-RED)/(RED+NIR)', {
            'NIR': image.select('SR_B5'),
            'RED': image.select('SR_B4'),
            'GREEN': image.select('SR_B3')
        })
    
    return image.addBands(ndvi.rename('ndvi'))

In [111]:
##Pixel extraction functions - addDate for dateless images/collections
def addDate(image):
    img_date = ee.Date(image.date())
    img_date = ee.Number.parse(img_date.format('YYYYMMdd'))
    return image.addBands(ee.Image(img_date).rename('imagedate').toInt())

##For Landsat images:
def rasterExtraction(image):
    feature = image.sampleRegions(
        collection = fc_all,
        scale = 30,
        tileScale = 16 #ADDED 10/6/2022 - make sure it doesn't affect results (see thread below)
    )
    return feature

##FOR 10m DEM:
def demExtraction(image):
    feature = image.sampleRegions(
        collection = fc_all,
        scale = 10 
    )
    return feature

##FOR 1m DEM:
def dem1Extraction(image):
    feature = image.sampleRegions(
        collection = fc_all,
        scale = 1 
        tileScale = 16 #ADDED 11/7/2022

    )
    return feature

#tileScale: https://gis.stackexchange.com/questions/373250/understanding-tilescale-in-earth-engine

SyntaxError: invalid syntax (Temp/ipykernel_13692/2359964398.py, line 29)

In [101]:
##Adding DEM
dem = ee.Image('USGS/3DEP/10m') ##This is 1/3 arc second, or 10 m.
dem1 = ee.ImageCollection('USGS/3DEP/1m')

##Set visualization parameters.
dem_params = {
    'min': 0,
    'max': 4000,
    'palette': ['006633', 'E5FFCC', '662A00', 'D8D8D8', 'F5F5F5'],
}

Map.addLayer(dem, dem_params, '10m DEM')
Map.addLayer(dem1, dem_params, '1m DEM')

In [102]:
##Calculating mean pixel values for time periods within each year

##NOTE (11/7/22): got 1 m elevation extraction working, and want to consolidate all variables onto one df

def monthly_Avg (collection, years):
  avg = []
  for year in years: #Originally had a for month in months subloop, with (month,month,'month') being a filter and set month
      Monthly_avg = collection.filter(ee.Filter.calendarRange(year, year, 'year')) \
                              .filter(ee.Filter.calendarRange(5, 10, 'month')) \
                              .mean() \
                              .set({'year': year})
      avg.append (Monthly_avg)
  return ee.ImageCollection.fromImages(avg)

##Months and years are lists

years_ls5 = range(2000, 2012)
years_ls7 = range(2012, 2013)
years_ls8 = range(2013, 2021)
years_dm = range(2000, 2021)

months = range(5,11)
months_daymet = range(1,12)

ls5_collect = ee.ImageCollection(
    'LANDSAT/LT05/C02/T1_L2'
).filterBounds(fc_all).map(maskL8sr).map(addFLATSL5).map(maskFLATS).map(addL5ndvi)

ls7_collect = ee.ImageCollection(
    'LANDSAT/LE07/C02/T1_L2'
).filterBounds(fc_all).map(maskL8sr).map(addFLATSL5).map(maskFLATS).map(addL5ndvi) ####SHOULD BE addFLATSL5

#Note:Landsat datasets migrated to Collection 2

ls8_collect = ee.ImageCollection(
    'LANDSAT/LC08/C02/T1_L2'
).filterBounds(fc_all).map(maskL8sr).map(addFLATS).map(maskFLATS).map(addL8ndvi)

monthly_ls5 = monthly_Avg(ls5_collect, years = years_ls5)
monthly_ls7 = monthly_Avg(ls7_collect, years = years_ls7)
monthly_ls8 = monthly_Avg(ls8_collect, years = years_ls8)

monthly_ls5.size().getInfo()

##From stackexchange: calculating monthly averages across many years:
#https://gis.stackexchange.com/questions/290892/google-earth-enginesst-by-month-per-year
#https://gis.stackexchange.com/questions/426662/image-collection-monthly-averages-using-geemap-package

12

In [117]:
def year_Avg (collection, years):
  avg = []
  for year in years: #Originally had a for month in months subloop, with (month,month,'month') being a filter and set month
      Monthly_avg = collection.filter(ee.Filter.calendarRange(year, year, 'year')) \
                              .filter(ee.Filter.calendarRange(1, 12, 'month')) \
                              .mean() \
                              .set({'year': year})
      avg.append (Monthly_avg)
  return ee.ImageCollection.fromImages(avg)


year_ls5 = year_Avg(ls5_collect, years = years_ls5)
year_ls7 = year_Avg(ls7_collect, years = years_ls7)
year_ls8 = year_Avg(ls8_collect, years = years_ls8)

yearlist_5 = year_ls5.toList(year_ls5.size())
yearlist_7 = year_ls7.toList(year_ls7.size())
yearlist_8 = year_ls8.toList(year_ls8.size())

def peak_Avg (collection, years):
  avg = []
  for year in years: #Originally had a for month in months subloop, with (month,month,'month') being a filter and set month
      Monthly_avg = collection.filter(ee.Filter.calendarRange(year, year, 'year')) \
                              .filter(ee.Filter.calendarRange(8, 10, 'month')) \
                              .mean() \
                              .set({'year': year})
      avg.append (Monthly_avg)
  return ee.ImageCollection.fromImages(avg)

peak_ls5 = peak_Avg(ls5_collect, years = years_ls5)
peak_ls7 = peak_Avg(ls7_collect, years = years_ls7)
peak_ls8 = peak_Avg(ls8_collect, years = years_ls8)

peaklist_5 = peak_ls5.toList(peak_ls5.size())
peaklist_7 = peak_ls7.toList(peak_ls7.size())
peaklist_8 = peak_ls8.toList(peak_ls8.size())

In [103]:
list_5 = monthly_ls5.toList(monthly_ls5.size())
list_7 = monthly_ls7.toList(monthly_ls7.size())
list_8 = monthly_ls8.toList(monthly_ls8.size())

vis_param = {'min': 0, 
             'max': 0.2, 
             'bands': ['SR_B4', 'SR_B3', 'SR_B2'], 
             'gamma': 1.5}

x= ee.Image(list_5.get(0))
y= ee.Image(list_8.get(0))

Map.addLayer(x, vis_param)

Map.addLayer(fc_all)
Map

Map(bottom=107245.0, center=[31.42718307635536, -81.38760972467243], controls=(WidgetControl(options=['positio…

In [104]:
#Daymet
def dm_Avg (collection, years):
  avg = []
  for year in years: #Originally had a for month in months subloop, with (month,month,'month') being a filter
      Monthly_avg = collection.filter(ee.Filter.calendarRange(year, year, 'year')) \
                              .filter(ee.Filter.calendarRange(1, 12, 'month')) \
                              .mean() \
                              .set({'year': year})
      avg.append (Monthly_avg)
  return ee.ImageCollection.fromImages(avg)


def peakdm_Avg (collection, years):
  avg = []
  for year in years: #Originally had a for month in months subloop, with (month,month,'month') being a filter
      Monthly_avg = collection.filter(ee.Filter.calendarRange(year, year, 'year')) \
                              .filter(ee.Filter.calendarRange(8, 10, 'month')) \
                              .mean() \
                              .set({'year': year})
      avg.append (Monthly_avg)
  return ee.ImageCollection.fromImages(avg)

daymet = ee.ImageCollection('NASA/ORNL/DAYMET_V4').filterBounds(fc_all)

monthly_dm = dm_Avg(daymet, years = years_dm)

dm_list = monthly_dm.toList(monthly_dm.size())

In [ ]:
#Elevation
# dem_vals = geemap.ee_to_pandas(demExtraction(dem)) ##10m dataset
dem_vals = geemap.ee_to_pandas(dem1.map(dem1Extraction).flatten()) ##ONE METER DATASET

In [106]:
#With loop to cut out unnecessary code:
years_l5 = range(2000, 2012)
years_l7 = range(2012, 2013)
years_l8 = range(2013, 2021)

landsat5_list = []
for i in range(len(years_l5)):
    ls5_x = geemap.ee_to_pandas(rasterExtraction(ee.Image(list_5.get(i))))
    sample5 = ls5_x[ls5_x['Year'] == years_l5[i]]
    landsat5_list.append(sample5) 
    
landsat7_list = []
for i in range(len(years_l7)):
    ls7_x = geemap.ee_to_pandas(rasterExtraction(ee.Image(list_7.get(i))))
    sample7 = ls7_x[ls7_x['Year'] == years_l7[i]]
    landsat7_list.append(sample7) 
    
landsat8_list = []
for i in range(len(years_l8)):
    ls8_x = geemap.ee_to_pandas(rasterExtraction(ee.Image(list_8.get(i))))
    sample8 = ls8_x[ls8_x['Year'] == years_l8[i]]
    landsat8_list.append(sample8) 

l5_extract = pd.concat(landsat5_list)
l7_extract = pd.concat(landsat7_list)
l8_extract = pd.concat(landsat8_list)

landsat_extract = pd.concat([l5_extract,l7_extract,l8_extract])

landsat_extract

,Site,Species_Code,Year,Zone,Plot,Latitude,Plant_Biomass,Sample_Size,Longitude,Date,...,QA_PIXEL,ST_CDIST,flats,SR_B1,ST_QA,ST_DRAD,ndvi,SR_QA_AEROSOL,SR_B6,ST_B10
0,1,A1,2000,1,1,31.538627,516.324,23,-81.422539,10/11/2000,...,5440.0,623.250000,0.011662,0.044152,344.875000,1276.375000,0.290895,NaN,NaN,NaN
19,2,A1,2000,1,1,31.536199,1152.400,21,-81.296118,10/11/2000,...,5472.0,187.125000,0.047093,0.048401,464.375000,1477.875000,0.386622,NaN,NaN,NaN
21,3,A1,2000,1,1,31.518920,710.396,20,-81.228956,10/18/2000,...,5440.0,100.000000,0.036445,0.045891,510.000000,1668.000000,0.319597,NaN,NaN,NaN
33,5,A1,2000,1,1,31.436090,2022.264,25,-81.339919,10/10/2000,...,5440.0,169.000000,0.018633,0.045623,427.875000,1169.000000,0.425205,NaN,NaN,NaN
52,6,A1,2000,1,1,31.388423,1032.632,20,-81.279792,10/12/2000,...,5440.0,73.625000,0.013779,0.056737,433.000000,1379.250000,0.325228,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2985,7,A4,2019,2,8,31.334597,2365.620,14,-81.478039,10/8/2019,...,21824.0,51.250000,0.032266,0.012575,478.500000,1745.250000,0.495139,153.000000,0.073398,300.093574
2991,7,A4,2019,1,12,31.335017,1821.010,12,-81.478711,10/8/2019,...,21824.0,72.285714,0.014234,0.014653,439.714286,1801.142857,0.658317,178.285714,0.109336,302.159523
2995,7,A4,2019,1,13,31.334934,2482.584,14,-81.478709,10/8/2019,...,21824.0,74.800000,0.021267,0.016013,434.200000,1759.200000,0.581245,154.000000,0.087468,302.265384
2999,7,A4,2019,1,16,31.334682,2511.936,17,-81.478564,10/8/2019,...,21824.0,74.800000,0.021267,0.016013,434.200000,1759.200000,0.581245,154.000000,0.087468,302.265384
3010,8,A5,2019,1,18,31.307529,39.264,5,-81.415324,10/8/2019,...,21824.0,173.000000,0.019496,0.028727,434.000000,1733.166667,0.369713,128.000000,0.083039,303.164095

In [115]:
#Yearly:
years_l5 = range(2000, 2012)
years_l7 = range(2012, 2013)
years_l8 = range(2013, 2021)

landsat5_list = []
for i in range(len(years_l5)):
    ls5_x = geemap.ee_to_pandas(rasterExtraction(ee.Image(yearlist_5.get(i))))
    sample5 = ls5_x[ls5_x['Year'] == years_l5[i]]
    landsat5_list.append(sample5) 
    
landsat7_list = []
for i in range(len(years_l7)):
    ls7_x = geemap.ee_to_pandas(rasterExtraction(ee.Image(yearlist_7.get(i))))
    sample7 = ls7_x[ls7_x['Year'] == years_l7[i]]
    landsat7_list.append(sample7) 
    
landsat8_list = []
for i in range(len(years_l8)):
    ls8_x = geemap.ee_to_pandas(rasterExtraction(ee.Image(yearlist_8.get(i))))
    sample8 = ls8_x[ls8_x['Year'] == years_l8[i]]
    landsat8_list.append(sample8) 

l5_extract = pd.concat(landsat5_list)
l7_extract = pd.concat(landsat7_list)
l8_extract = pd.concat(landsat8_list)

year_extract = pd.concat([l5_extract,l7_extract,l8_extract])

year_extract

,Site,Species_Code,Year,Zone,Plot,Latitude,Plant_Biomass,Sample_Size,Longitude,Date,...,QA_PIXEL,ST_CDIST,flats,SR_B1,ST_QA,ST_DRAD,ndvi,SR_QA_AEROSOL,SR_B6,ST_B10
0,1,A1,2000,1,1,31.538627,516.324,23,-81.422539,10/11/2000,...,5457.066667,514.466667,0.013482,0.042863,356.000000,891.133333,0.276423,NaN,NaN,NaN
19,2,A1,2000,1,1,31.536199,1152.400,21,-81.296118,10/11/2000,...,5458.285714,189.928571,0.032274,0.043230,417.785714,1019.785714,0.355860,NaN,NaN,NaN
21,3,A1,2000,1,1,31.518920,710.396,20,-81.228956,10/18/2000,...,5440.000000,104.000000,0.021288,0.043842,421.600000,952.400000,0.286573,NaN,NaN,NaN
33,5,A1,2000,1,1,31.436090,2022.264,25,-81.339919,10/10/2000,...,5440.000000,177.333333,0.020839,0.044810,401.000000,845.933333,0.396526,NaN,NaN,NaN
52,6,A1,2000,1,1,31.388423,1032.632,20,-81.279792,10/12/2000,...,5440.000000,71.571429,0.020407,0.052939,423.000000,1001.357143,0.290787,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3173,7,A4,2019,2,8,31.334597,2365.620,14,-81.478039,10/8/2019,...,21824.000000,86.909091,0.011756,0.017730,388.000000,1067.090909,0.460677,128.363636,0.092895,295.376396
3179,7,A4,2019,1,12,31.335017,1821.010,12,-81.478711,10/8/2019,...,21824.000000,92.571429,0.007123,0.017336,383.857143,1240.357143,0.571281,146.285714,0.111549,297.324978
3183,7,A4,2019,1,13,31.334934,2482.584,14,-81.478709,10/8/2019,...,21824.000000,97.083333,0.008871,0.018614,373.250000,1129.416667,0.476229,125.833333,0.094855,296.649349
3187,7,A4,2019,1,16,31.334682,2511.936,17,-81.478564,10/8/2019,...,21824.000000,97.083333,0.008871,0.018614,373.250000,1129.416667,0.476229,125.833333,0.094855,296.649349
3198,8,A5,2019,1,18,31.307529,39.264,5,-81.415324,10/8/2019,...,21824.000000,244.142857,0.008603,0.028910,333.500000,1134.071429,0.327842,114.857143,0.087452,296.933126

In [118]:
#With loop to cut out unnecessary code:
years_l5 = range(2000, 2012)
years_l7 = range(2012, 2013)
years_l8 = range(2013, 2021)

landsat5_list = []
for i in range(len(years_l5)):
    ls5_x = geemap.ee_to_pandas(rasterExtraction(ee.Image(peaklist_5.get(i))))
    sample5 = ls5_x[ls5_x['Year'] == years_l5[i]]
    landsat5_list.append(sample5) 
    
landsat7_list = []
for i in range(len(years_l7)):
    ls7_x = geemap.ee_to_pandas(rasterExtraction(ee.Image(peaklist_7.get(i))))
    sample7 = ls7_x[ls7_x['Year'] == years_l7[i]]
    landsat7_list.append(sample7) 
    
landsat8_list = []
for i in range(len(years_l8)):
    ls8_x = geemap.ee_to_pandas(rasterExtraction(ee.Image(peaklist_8.get(i))))
    sample8 = ls8_x[ls8_x['Year'] == years_l8[i]]
    landsat8_list.append(sample8) 

l5_extract = pd.concat(landsat5_list)
l7_extract = pd.concat(landsat7_list)
l8_extract = pd.concat(landsat8_list)

peak_extract = pd.concat([l5_extract,l7_extract,l8_extract])

peak_extract

,Site,Species_Code,Year,Zone,Plot,Latitude,Plant_Biomass,Sample_Size,Longitude,Date,...,QA_PIXEL,ST_CDIST,flats,SR_B1,ST_QA,ST_DRAD,ndvi,SR_QA_AEROSOL,SR_B6,ST_B10
0,5,A1,2000,1,1,31.436090,2022.264,25,-81.339919,10/10/2000,...,5440.0,512.000000,0.041105,0.032622,267.500000,786.500000,0.450595,NaN,NaN,NaN
19,9,A1,2000,1,1,31.352109,1484.164,20,-81.333734,10/16/2000,...,5440.0,323.000000,0.000692,0.030051,311.500000,1405.000000,0.414157,NaN,NaN,NaN
27,10,A1,2000,1,1,31.476997,846.564,18,-81.270459,10/12/2000,...,5440.0,377.000000,0.011656,0.040267,350.333333,1330.000000,0.358751,NaN,NaN,NaN
46,3,A1,2000,2,1,31.519592,302.000,23,-81.229011,10/18/2000,...,5440.0,349.000000,0.016700,0.043716,359.000000,1435.600000,0.402546,NaN,NaN,NaN
65,4,A1,2000,2,1,31.452632,280.064,26,-81.365523,10/10/2000,...,5440.0,574.500000,0.046856,0.040281,443.000000,1381.500000,0.319603,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2777,7,A4,2019,2,8,31.334597,2365.620,14,-81.478039,10/8/2019,...,21824.0,47.000000,0.053969,0.012520,498.000000,1945.500000,0.590440,209.000000,0.081105,297.157495
2783,7,A4,2019,1,12,31.335017,1821.010,12,-81.478711,10/8/2019,...,21824.0,68.333333,0.013297,0.013904,448.666667,1893.000000,0.688841,202.666667,0.109980,299.338192
2787,7,A4,2019,1,13,31.334934,2482.584,14,-81.478709,10/8/2019,...,21824.0,82.500000,0.003283,0.015091,429.500000,1911.500000,0.608836,192.000000,0.094154,299.037406
2791,7,A4,2019,1,16,31.334682,2511.936,17,-81.478564,10/8/2019,...,21824.0,82.500000,0.003283,0.015091,429.500000,1911.500000,0.608836,192.000000,0.094154,299.037406
2802,8,A5,2019,1,18,31.307529,39.264,5,-81.415324,10/8/2019,...,21824.0,48.666667,0.004900,0.032430,499.333333,1800.333333,0.400771,117.333333,0.092362,302.504418

In [107]:
#Daymet for loop and elevation
years_dm = range(2000, 2021)

daymet_list = []
for i in range(len(years_dm)):
    dm_x = geemap.ee_to_pandas(rasterExtraction(ee.Image(dm_list.get(i))))
    sampledm = dm_x[dm_x['Year'] == years_dm[i]]
    daymet_list.append(sampledm) 
    
daymet_extract = pd.concat(daymet_list)

daymet_extract

,Site,Species_Code,Year,Zone,Plot,Latitude,Plant_Biomass,Sample_Size,Longitude,Date,swe,tmax,srad,tmin,vp,prcp,dayl
0,1,A1,2000,1,1,31.538627,516.324,23,-81.422539,10/11/2000,0,25.069397,343.573212,14.079397,1765.701416,2.489973,43200.085938
19,3,A1,2000,1,1,31.518920,710.396,20,-81.228956,10/18/2000,0,24.539864,336.004730,15.079507,1874.970703,2.319699,43200.085938
31,4,A1,2000,1,1,31.451676,1534.304,25,-81.365498,10/10/2000,0,24.868795,340.215027,14.635425,1827.156250,2.472329,43200.085938
45,5,A1,2000,1,1,31.436090,2022.264,25,-81.339919,10/10/2000,0,24.818274,340.010864,14.757424,1839.845947,2.445726,43200.085938
64,6,A1,2000,1,1,31.388423,1032.632,20,-81.279792,10/12/2000,0,24.615616,334.624725,15.242548,1893.765625,2.393671,43200.085938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2869,7,A4,2019,2,8,31.334597,2365.620,14,-81.478039,10/8/2019,0,26.537781,333.358398,15.792986,1939.959351,3.794055,43200.085938
2875,7,A4,2019,1,12,31.335017,1821.010,12,-81.478711,10/8/2019,0,26.537781,333.358398,15.792986,1939.959351,3.794055,43200.085938
2879,7,A4,2019,1,13,31.334934,2482.584,14,-81.478709,10/8/2019,0,26.537781,333.358398,15.792986,1939.959351,3.794055,43200.085938
2883,7,A4,2019,1,16,31.334682,2511.936,17,-81.478564,10/8/2019,0,26.537781,333.358398,15.792986,1939.959351,3.794055,43200.085938
2894,8,A5,2019,1,18,31.307529,39.264,5,-81.415324,10/8/2019,0,26.525288,331.422516,16.070438,1966.905518,3.681206,43200.085938

In [112]:
#Final step
dfx = pd.merge(landsat_extract, dem_vals, how = 'left')
df = pd.merge(dfx, daymet_extract, how = 'right')

display(df)

,Site,Species_Code,Year,Zone,Plot,Latitude,Plant_Biomass,Sample_Size,Longitude,Date,...,SR_B6,ST_B10,elevation,swe,tmax,srad,tmin,vp,prcp,dayl
0,1,A1,2000,1,1,31.538627,516.324,23,-81.422539,10/11/2000,...,NaN,NaN,0.303575,0,25.069397,343.573212,14.079397,1765.701416,2.489973,43200.085938
1,3,A1,2000,1,1,31.518920,710.396,20,-81.228956,10/18/2000,...,NaN,NaN,1.106164,0,24.539864,336.004730,15.079507,1874.970703,2.319699,43200.085938
2,4,A1,2000,1,1,31.451676,1534.304,25,-81.365498,10/10/2000,...,NaN,NaN,NaN,0,24.868795,340.215027,14.635425,1827.156250,2.472329,43200.085938
3,5,A1,2000,1,1,31.436090,2022.264,25,-81.339919,10/10/2000,...,NaN,NaN,1.041272,0,24.818274,340.010864,14.757424,1839.845947,2.445726,43200.085938
4,6,A1,2000,1,1,31.388423,1032.632,20,-81.279792,10/12/2000,...,NaN,NaN,0.945370,0,24.615616,334.624725,15.242548,1893.765625,2.393671,43200.085938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2907,7,A4,2019,2,8,31.334597,2365.620,14,-81.478039,10/8/2019,...,0.073398,300.093574,1.277348,0,26.537781,333.358398,15.792986,1939.959351,3.794055,43200.085938
2908,7,A4,2019,1,12,31.335017,1821.010,12,-81.478711,10/8/2019,...,0.109336,302.159523,0.411499,0,26.537781,333.358398,15.792986,1939.959351,3.794055,43200.085938
2909,7,A4,2019,1,13,31.334934,2482.584,14,-81.478709,10/8/2019,...,0.087468,302.265384,0.302258,0,26.537781,333.358398,15.792986,1939.959351,3.794055,43200.085938
2910,7,A4,2019,1,16,31.334682,2511.936,17,-81.478564,10/8/2019,...,0.087468,302.265384,0.101274,0,26.537781,333.358398,15.792986,1939.959351,3.794055,43200.085938
2911,8,A5,2019,1,18,31.307529,39.264,5,-81.415324,10/8/2019,...,0.083039,303.164095,0.449218,0,26.525288,331.422516,16.070438,1966.905518,3.681206,43200.085938

In [113]:
##Bands and indices
df['Sensor'] = np.where(df['Year']<2013, 'Landsat 5', 'Landsat 8') ##make sure no other sensors are being used

df.loc[df['Year'] == 2012, 'Sensor'] = 'Landsat 7'

df['ndvi'] = np.where(df['Sensor'] == 'Landsat 8', (df['SR_B5']-df['SR_B4'])/(df['SR_B5']+df['SR_B4']), \
                      (df['SR_B4']-df['SR_B3'])/(df['SR_B4']+df['SR_B3'])) 
##ndvi conditional based on whether sensor is Landsat-5 or 8

df['Blue_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B2'], df['SR_B1'])
df['Green_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B3'], df['SR_B2'])
df['Red_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B4'], df['SR_B3'])
df['NIR_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B5'], df['SR_B4'])
df['SWIR1_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B6'], df['SR_B5'])
df['SWIR2_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B7'], df['SR_B7'])

##Variables from Byrd et al. 2018 (make sure calculations are accurate):
df['savi'] = ((df['NIR_band']-df['Red_band'])*1.5)/(df['NIR_band']+df['Red_band']+0.5)
df['wdrvi5'] = (0.5*df['NIR_band']-df['Red_band'])/(0.5*df['NIR_band']+df['Red_band'])
df['nd_r_g'] = (df['Red_band']-df['Green_band'])/(df['Red_band']+df['Green_band'])
df['nd_g_b'] = (df['Green_band']-df['Blue_band'])/(df['Green_band']+df['Blue_band'])
df['nd_swir2_nir'] = (df['SWIR2_band']-df['NIR_band'])/(df['SWIR2_band']+df['NIR_band'])
df['nd_swir2_r'] = (df['SWIR2_band']-df['Red_band'])/(df['SWIR2_band']+df['Red_band'])

display(df)

##EXPORT
out_dir = os.path.expanduser('~/Downloads')
out_csv = os.path.join(out_dir, 'df_mayoct.csv')
# df.to_csv(out_csv, index = False)

,Site,Species_Code,Year,Zone,Plot,Latitude,Plant_Biomass,Sample_Size,Longitude,Date,...,Red_band,NIR_band,SWIR1_band,SWIR2_band,savi,wdrvi5,nd_r_g,nd_g_b,nd_swir2_nir,nd_swir2_r
0,1,A1,2000,1,1,31.538627,516.324,23,-81.422539,10/11/2000,...,0.057757,0.106250,0.087846,0.053437,0.109546,-0.041777,0.010555,0.123125,-0.330733,-0.038859
1,3,A1,2000,1,1,31.518920,710.396,20,-81.228956,10/18/2000,...,0.061580,0.119289,0.085849,0.044585,0.127136,-0.015967,-0.016471,0.162062,-0.455862,-0.160081
2,4,A1,2000,1,1,31.451676,1534.304,25,-81.365498,10/10/2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,A1,2000,1,1,31.436090,2022.264,25,-81.339919,10/10/2000,...,0.065375,0.161518,0.123073,0.071037,0.198399,0.105275,-0.039737,0.216156,-0.389077,0.041504
4,6,A1,2000,1,1,31.388423,1032.632,20,-81.279792,10/12/2000,...,0.070992,0.137844,0.107024,0.061508,0.141470,-0.014793,-0.016009,0.127388,-0.382923,-0.071578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2907,7,A4,2019,2,8,31.334597,2365.620,14,-81.478039,10/8/2019,...,0.045080,0.139123,0.073398,0.036617,0.206174,0.213549,-0.024764,0.394447,-0.583284,-0.103592
2908,7,A4,2019,1,12,31.335017,1821.010,12,-81.478711,10/8/2019,...,0.041454,0.205468,0.109336,0.052434,0.329380,0.425001,-0.075481,0.383492,-0.593378,0.116951
2909,7,A4,2019,1,13,31.334934,2482.584,14,-81.478709,10/8/2019,...,0.043034,0.163495,0.087468,0.043523,0.255745,0.310250,-0.046433,0.341438,-0.579521,0.005655
2910,7,A4,2019,1,16,31.334682,2511.936,17,-81.478564,10/8/2019,...,0.043034,0.163495,0.087468,0.043523,0.255745,0.310250,-0.046433,0.341438,-0.579521,0.005655
2911,8,A5,2019,1,18,31.307529,39.264,5,-81.415324,10/8/2019,...,0.054673,0.120705,0.083039,0.046427,0.146656,0.049377,-0.010370,0.220471,-0.444423,-0.081557

In [110]:
##https://stackoverflow.com/questions/18557860/how-to-create-a-list-with-a-range-of-years

##WITH VARIABLE YEAR IN FILE NAME

df = df[df['Red_band'].notna()]
df

,Site,Species_Code,Year,Zone,Plot,Latitude,Plant_Biomass,Sample_Size,Longitude,Date,...,Red_band,NIR_band,SWIR1_band,SWIR2_band,savi,wdrvi5,nd_r_g,nd_g_b,nd_swir2_nir,nd_swir2_r
0,1,A1,2000,1,1,31.538627,516.324,23,-81.422539,10/11/2000,...,0.057757,0.106250,0.087846,0.053437,0.109546,-0.041777,0.010555,0.123125,-0.330733,-0.038859
1,3,A1,2000,1,1,31.518920,710.396,20,-81.228956,10/18/2000,...,0.061580,0.119289,0.085849,0.044585,0.127136,-0.015967,-0.016471,0.162062,-0.455862,-0.160081
3,5,A1,2000,1,1,31.436090,2022.264,25,-81.339919,10/10/2000,...,0.065375,0.161518,0.123073,0.071037,0.198399,0.105275,-0.039737,0.216156,-0.389077,0.041504
4,6,A1,2000,1,1,31.388423,1032.632,20,-81.279792,10/12/2000,...,0.070992,0.137844,0.107024,0.061508,0.141470,-0.014793,-0.016009,0.127388,-0.382923,-0.071578
5,9,A1,2000,1,1,31.352109,1484.164,20,-81.333734,10/16/2000,...,0.061422,0.144231,0.122379,0.068190,0.176027,0.080081,-0.008793,0.192418,-0.357972,0.052221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2907,7,A4,2019,2,8,31.334597,2365.620,14,-81.478039,10/8/2019,...,0.045080,0.139123,0.073398,0.036617,0.206174,0.213549,-0.024764,0.394447,-0.583284,-0.103592
2908,7,A4,2019,1,12,31.335017,1821.010,12,-81.478711,10/8/2019,...,0.041454,0.205468,0.109336,0.052434,0.329380,0.425001,-0.075481,0.383492,-0.593378,0.116951
2909,7,A4,2019,1,13,31.334934,2482.584,14,-81.478709,10/8/2019,...,0.043034,0.163495,0.087468,0.043523,0.255745,0.310250,-0.046433,0.341438,-0.579521,0.005655
2910,7,A4,2019,1,16,31.334682,2511.936,17,-81.478564,10/8/2019,...,0.043034,0.163495,0.087468,0.043523,0.255745,0.310250,-0.046433,0.341438,-0.579521,0.005655
2911,8,A5,2019,1,18,31.307529,39.264,5,-81.415324,10/8/2019,...,0.054673,0.120705,0.083039,0.046427,0.146656,0.049377,-0.010370,0.220471,-0.444423,-0.081557