In [78]:
import geemap
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pdb
from IPython.display import display
import ee
import os

In [79]:
#ee.Authenticate()
#geemap.update_package()

ee.Initialize()

Map = geemap.Map(center=[31.539096,-81.422318], zoom=10)

##Adding every plot coordinate
allplots_fc = 'C:/Users/arj26323/Documents/Data/Biomass datasets/Sapelo/GA_allplots.csv'
fc_all = geemap.csv_to_ee(allplots_fc, latitude = "Latitude", longitude = "Longitude")

In [80]:
##Function to cloud mask from the pixel_qa band of Landsat 5/8 SR data.
def maskL5sr(image):
  ## Bits 3 and 5 are cloud shadow and cloud, respectively.
  cloudShadowBitMask = 1 << 3
  cloudsBitMask = 1 << 5

  ##Get the pixel QA band.
  qa = image.select('pixel_qa')

  ##Both flags should be set to zero, indicating clear conditions.
  mask = qa.bitwiseAnd(cloudShadowBitMask).eq(0) \
      .And(qa.bitwiseAnd(cloudsBitMask).eq(0))

  ##Return the masked image, scaled to reflectance, without the QA bands.
  return image.updateMask(mask).divide(10000) \
      .select("B[0-9]*") \
      .copyProperties(image, ["system:time_start"])

In [81]:
##TIDAL FILTERING; from Narron et al. 2022
##Utilizes L8 bands 4 and 6 for NDWI, and bands 3 and 4 (for pheno)
##Does it work for Landsat 5?

def addFLATS(image):
    flats = ee.Image(0).expression(
        '1/(1+2.718281828459045**-(-1.57 + 20*(RED-SWIR)/(RED+SWIR) + 68.6*(GREEN-RED)/(GREEN+RED)))', {
            'SWIR': image.select('B6'),
            'RED': image.select('B4'),
            'GREEN': image.select('B3')
        })
    
    return image.addBands(flats.rename('flats'))

##Notes: This is setup for Landsat 8 - apply to l5? Also, had trouble with np.exp() in equation, so used approx value for e
##np.exp() only takes one argument

def addFLATSL5(image):
    flats = ee.Image(0).expression(
        '1/(1+2.718281828459045**-(-1.57 + 20*(RED-SWIR)/(RED+SWIR) + 68.6*(GREEN-RED)/(GREEN+RED)))', {
            'SWIR': image.select('B5'),
            'RED': image.select('B3'),
            'GREEN': image.select('B2')
        })
    
    return image.addBands(flats.rename('flats'))

##MASKING FLATS
def maskFLATS(image):
    mask1 = image.select('flats').lte(0.1)
    return image.updateMask(mask1)

In [101]:
##Pixel extraction functions - addDate for dateless images/collections
def addDate(image):
    img_date = ee.Date(image.date())
    img_date = ee.Number.parse(img_date.format('YYYYMMdd'))
    return image.addBands(ee.Image(img_date).rename('imagedate').toInt())

##For Landsat images:
def rasterExtraction(image):
    feature = image.sampleRegions(
        collection = fc_all,
        scale = 30 
    )
    return feature

##FOR 10m DEM:
def demExtraction(image):
    feature = image.sampleRegions(
        collection = fc_all,
        scale = 30 
    )
    return feature

In [83]:
##Adding DEM
dem = ee.Image('USGS/3DEP/10m') ##This is 1/3 arc second, or 10 m.

##Set visualization parameters.
dem_params = {
    'min': 0,
    'max': 4000,
    'palette': ['006633', 'E5FFCC', '662A00', 'D8D8D8', 'F5F5F5'],
}

Map.addLayer(dem, dem_params, '10m DEM')

In [84]:
##Image collections - growing season

##Landsat 5
ga_2000 = ee.ImageCollection('LANDSAT/LT05/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2000, 2000,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2001 = ee.ImageCollection('LANDSAT/LT05/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2001, 2001,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2002 = ee.ImageCollection('LANDSAT/LT05/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2002, 2002,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2003 = ee.ImageCollection('LANDSAT/LT05/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2003, 2003,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2004 = ee.ImageCollection('LANDSAT/LT05/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2004, 2004,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2005 = ee.ImageCollection('LANDSAT/LT05/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2005, 2005,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2006 = ee.ImageCollection('LANDSAT/LT05/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2006, 2006,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2007 = ee.ImageCollection('LANDSAT/LT05/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2007, 2007,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2008 = ee.ImageCollection('LANDSAT/LT05/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2008, 2008,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2009 = ee.ImageCollection('LANDSAT/LT05/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2009, 2009,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2010 = ee.ImageCollection('LANDSAT/LT05/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2010, 2010,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2011 = ee.ImageCollection('LANDSAT/LT05/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2011, 2011,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

##Landsat 7
ga_2012 = ee.ImageCollection('LANDSAT/LE07/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2012, 2012,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

##Landsat 8
ga_2013 = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2013, 2013,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2014 = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2014, 2014,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2015 = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2015, 2015,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2016 = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2016, 2016,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2017 = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2017, 2017,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2018 = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2018, 2018,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2019 = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2019, 2019,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

ga_2020 = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR') \
    .filter(ee.Filter.calendarRange(2020, 2020,'year')) \
    .filter(ee.Filter.calendarRange(5, 10,'month')) \
    .filterBounds(fc_all)

print(ga_2020.size().getInfo())

34

In [87]:
##Cloud masking and adding (then masking) FLATS - will act as water mask too! Don't need Hansen dataset

##addFLATS - Landsat 5
mean00 = ga_2000.map(maskL5sr).map(addFLATSL5).map(maskFLATS).mean()
mean01 = ga_2001.map(maskL5sr).map(addFLATSL5).map(maskFLATS).mean()
mean02 = ga_2002.map(maskL5sr).map(addFLATSL5).map(maskFLATS).mean()
mean03 = ga_2003.map(maskL5sr).map(addFLATSL5).map(maskFLATS).mean()
mean04 = ga_2004.map(maskL5sr).map(addFLATSL5).map(maskFLATS).mean()
mean05 = ga_2005.map(maskL5sr).map(addFLATSL5).map(maskFLATS).mean()
mean06 = ga_2006.map(maskL5sr).map(addFLATSL5).map(maskFLATS).mean()
mean07 = ga_2007.map(maskL5sr).map(addFLATSL5).map(maskFLATS).mean()
mean08 = ga_2008.map(maskL5sr).map(addFLATSL5).map(maskFLATS).mean()
mean09 = ga_2009.map(maskL5sr).map(addFLATSL5).map(maskFLATS).mean()
mean10 = ga_2010.map(maskL5sr).map(addFLATSL5).map(maskFLATS).mean()
mean11 = ga_2011.map(maskL5sr).map(addFLATSL5).map(maskFLATS).mean()

##addFLATS - Landsat 7/8
mean12 = ga_2012.map(maskL5sr).map(addFLATS).map(maskFLATS).mean()
mean13 = ga_2013.map(maskL5sr).map(addFLATS).map(maskFLATS).mean()
mean14 = ga_2014.map(maskL5sr).map(addFLATS).map(maskFLATS).mean()
mean15 = ga_2015.map(maskL5sr).map(addFLATS).map(maskFLATS).mean()
mean16 = ga_2016.map(maskL5sr).map(addFLATS).map(maskFLATS).mean()
mean17 = ga_2017.map(maskL5sr).map(addFLATS).map(maskFLATS).mean()
mean18 = ga_2018.map(maskL5sr).map(addFLATS).map(maskFLATS).mean()
mean19 = ga_2019.map(maskL5sr).map(addFLATS).map(maskFLATS).mean()
mean20 = ga_2020.map(maskL5sr).map(addFLATS).map(maskFLATS).mean()

Map.addLayer(mean00, {'bands': ['B4',  'B3',  'B2'], 'min': 0, 'max': 0.2}, '2000')

Map.addLayer(mean20, {'bands': ['B5',  'B4',  'B3'], 'min': 0, 'max': 0.2}, '2020')

Map

Map(bottom=107150.0, center=[31.539096, -81.422318], controls=(WidgetControl(options=['position', 'transparent…

In [86]:
##Mean - growing season! Also consider: mean - sampling month; mean - 2 months prior; etc. The more included, the better

df00 = geemap.ee_to_pandas(rasterExtraction(mean00))
df01 = geemap.ee_to_pandas(rasterExtraction(mean01))
df02 = geemap.ee_to_pandas(rasterExtraction(mean02))
df03 = geemap.ee_to_pandas(rasterExtraction(mean03))
df04 = geemap.ee_to_pandas(rasterExtraction(mean04))
df05 = geemap.ee_to_pandas(rasterExtraction(mean05))
df06 = geemap.ee_to_pandas(rasterExtraction(mean06))
df07 = geemap.ee_to_pandas(rasterExtraction(mean07))
df08 = geemap.ee_to_pandas(rasterExtraction(mean08))
df09 = geemap.ee_to_pandas(rasterExtraction(mean09))
df10 = geemap.ee_to_pandas(rasterExtraction(mean10))
df11 = geemap.ee_to_pandas(rasterExtraction(mean11))
df12 = geemap.ee_to_pandas(rasterExtraction(mean12))
df13 = geemap.ee_to_pandas(rasterExtraction(mean13))
df14 = geemap.ee_to_pandas(rasterExtraction(mean14))
df15 = geemap.ee_to_pandas(rasterExtraction(mean15))
df16 = geemap.ee_to_pandas(rasterExtraction(mean16))
df17 = geemap.ee_to_pandas(rasterExtraction(mean17))
df18 = geemap.ee_to_pandas(rasterExtraction(mean18))
df19 = geemap.ee_to_pandas(rasterExtraction(mean19))
df20 = geemap.ee_to_pandas(rasterExtraction(mean20))

display(df20) ##NOTE: Has all years, only want the specified year

,Site,Month,Year,Zone,Plot,Latitude,Day,Longitude,B2,B3,B10,B4,B11,B5,B6,B7,flats,B1
0,4,10,2000,1,1,31.451676,10,-81.365498,0.034675,0.052225,0.297862,0.049387,0.295287,0.115263,0.083338,0.049700,0.014072,0.027338
1,4,10,2000,1,2,31.451548,10,-81.365560,0.032557,0.052514,0.297471,0.046814,0.294943,0.132100,0.092214,0.052957,0.016141,0.025371
2,4,10,2000,1,3,31.451473,10,-81.365566,0.032557,0.052514,0.297471,0.046814,0.294943,0.132100,0.092214,0.052957,0.016141,0.025371
3,4,10,2000,1,4,31.451373,10,-81.365579,0.032557,0.052514,0.297471,0.046814,0.294943,0.132100,0.092214,0.052957,0.016141,0.025371
4,4,10,2000,1,5,31.451197,10,-81.366132,0.035417,0.059083,0.297483,0.052767,0.295233,0.142650,0.095917,0.055100,0.034833,0.026717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3211,5,10,2019,2,4,31.435830,11,-81.341134,0.034375,0.051500,0.297612,0.046500,0.294750,0.121788,0.083075,0.046450,0.027961,0.028387
3212,5,10,2019,2,5,31.435748,11,-81.341275,0.034375,0.051500,0.297612,0.046500,0.294750,0.121788,0.083075,0.046450,0.027961,0.028387
3213,5,10,2019,2,6,31.435647,11,-81.341406,0.035278,0.050367,0.297644,0.047167,0.294811,0.102244,0.074556,0.043344,0.033468,0.029633
3214,5,10,2019,2,7,31.435543,11,-81.341501,0.035278,0.050367,0.297644,0.047167,0.294811,0.102244,0.074556,0.043344,0.033468,0.029633
3215,5,10,2019,2,8,31.435437,11,-81.341614,0.036213,0.049888,0.298263,0.049013,0.295225,0.099563,0.074100,0.043750,0.013808,0.030413

In [130]:
##SEE IF YOU CAN AUTOMATE THIS SECTION based on year

##DEM extraction and merging
dem_vals = geemap.ee_to_pandas(demExtraction(dem))

# display(dem_vals)

dfx = pd.merge(df20, dem_vals, how = 'left')

##Daymet
daymet = ee.ImageCollection('NASA/ORNL/DAYMET_V4') \
     .filter(ee.Filter.date('2020-01-01', '2020-12-31')) \
     .mean()

# sn_daymet = ee.ImageCollection('NASA/ORNL/DAYMET_V4') \
#      .filter(ee.Filter.date('2000-04-01', '2000-10-31')) \
#      .mean()

daymet_vals = geemap.ee_to_pandas(rasterExtraction(daymet))

# display(daymet_vals) ##One site is still missing, so approximately 200 measurements are left! Need to fix

df2020 = pd.merge(dfx, daymet_vals, how = 'right')
df2020 = df2020[df2020['Year'] == 2020]

# display(df2000)

##Current processing notes: Change all details in chunk to desired year. Run, then concat. 9 things to change including display!

df = pd.concat(
    [
        df2000,df2001,df2002,df2004,df2005,df2006,df2007,df2008,df2009,df2010,df2011,df2012,df2013,df2014,df2015,
        df2016,df2017,df2018,df2019,df2020
    ]
)

display(df) ##Voila

,Site,Month,Year,Zone,Plot,Latitude,Day,Longitude,B2,B3,...,elevation,swe,tmax,srad,tmin,vp,prcp,dayl,B10,B11
0,4,10,2000,1,1,31.451676,10,-81.365498,0.056200,0.056500,...,0.431135,0,24.868795,340.215027,14.635425,1827.156250,2.472329,43200.085938,NaN,NaN
1,4,10,2000,1,2,31.451548,10,-81.365560,0.054320,0.051500,...,0.735576,0,24.868795,340.215027,14.635425,1827.156250,2.472329,43200.085938,NaN,NaN
2,4,10,2000,1,3,31.451473,10,-81.365566,0.054320,0.051500,...,0.921095,0,24.868795,340.215027,14.635425,1827.156250,2.472329,43200.085938,NaN,NaN
3,4,10,2000,1,4,31.451373,10,-81.365579,0.054320,0.051500,...,0.921095,0,24.868795,340.215027,14.635425,1827.156250,2.472329,43200.085938,NaN,NaN
4,4,10,2000,1,5,31.451197,10,-81.366132,0.060050,0.057775,...,0.383051,0,24.868795,340.215027,14.635425,1827.156250,2.472329,43200.085938,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2907,5,10,2019,2,4,31.435830,11,-81.341134,0.046567,0.065533,...,0.871897,0,26.523790,332.813416,16.079643,1958.291748,3.575934,43219.992188,0.298183,0.294900
2908,5,10,2019,2,5,31.435748,11,-81.341275,0.046567,0.065533,...,0.871897,0,26.523790,332.813416,16.079643,1958.291748,3.575934,43219.992188,0.298183,0.294900
2909,5,10,2019,2,6,31.435647,11,-81.341406,0.050971,0.067500,...,0.927710,0,26.523790,332.813416,16.079643,1958.291748,3.575934,43219.992188,0.297114,0.293643
2910,5,10,2019,2,7,31.435543,11,-81.341501,0.050971,0.067500,...,0.927710,0,26.523790,332.813416,16.079643,1958.291748,3.575934,43219.992188,0.297114,0.293643
2911,5,10,2019,2,8,31.435437,11,-81.341614,0.045925,0.061637,...,1.003530,0,26.523790,332.813416,16.079643,1958.291748,3.575934,43219.992188,0.296962,0.293600

In [139]:
##Bands and indices
df['Sensor'] = np.where(df['Year']<2013, 'Landsat 5', 'Landsat 8')

df.loc[df['Year'] == 2012, 'Sensor'] = 'Landsat 7'

df['ndvi'] = np.where(df['Sensor'] == 'Landsat 5', (df['B4']-df['B3'])/(df['B4']+df['B3']), \
                      (df['B5']-df['B4'])/(df['B5']+df['B4'])) ##ndvi conditional based on whether sensor is Landsat-5 or 8

df['Blue_band'] = np.where(df['Sensor'] == 'Landsat 5', df['B1'], df['B2'])
df['Green_band'] = np.where(df['Sensor'] == 'Landsat 5', df['B2'], df['B3'])
df['Red_band'] = np.where(df['Sensor'] == 'Landsat 5', df['B3'], df['B4'])
df['NIR_band'] = np.where(df['Sensor'] == 'Landsat 5', df['B4'], df['B5'])
df['SWIR1_band'] = np.where(df['Sensor'] == 'Landsat 5', df['B5'], df['B6'])
df['SWIR2_band'] = np.where(df['Sensor'] == 'Landsat 5', df['B7'], df['B7'])

##Variables from Byrd et al. 2018 (make sure calculations are accurate):
df['savi'] = ((df['NIR_band']-df['Red_band'])*1.5)/(df['NIR_band']+df['Red_band']+0.5)
df['wdrvi5'] = (0.5*df['NIR_band']-df['Red_band'])/(0.5*df['NIR_band']+df['Red_band'])
df['nd_r_g'] = (df['Red_band']-df['Green_band'])/(df['Red_band']+df['Green_band'])
df['nd_g_b'] = (df['Green_band']-df['Blue_band'])/(df['Green_band']+df['Blue_band'])
df['nd_swir2_nir'] = (df['SWIR2_band']-df['NIR_band'])/(df['SWIR2_band']+df['NIR_band'])
df['nd_swir2_r'] = (df['SWIR2_band']-df['Red_band'])/(df['SWIR2_band']+df['Red_band'])

##EXPORT
out_dir = os.path.expanduser('~/Downloads')
out_csv = os.path.join(out_dir, 'df_remotedata.csv')
# df.to_csv(out_csv, index = False)

In [94]:
##From stackexchange: calculating monthly averages across many years:
#https://gis.stackexchange.com/questions/290892/google-earth-enginesst-by-month-per-year

sst = ee.ImageCollection('NASA/OCEANDATA/MODIS-Aqua/L3SMI') \
    .select('sst') \
    .filterDate(ee.Date('2013-01-01'), ee.Date('2017-12-31'))

months = ee.List.sequence(1, 12)
years = ee.List.sequence(2013, 2017)

byMonthYear = ee.ImageCollection.fromImages(

def func_saj(y):
    return months.map(function (m) {
      return sst \
        .filter(ee.Filter.calendarRange(y, y, 'year')) \
        .filter(ee.Filter.calendarRange(m, m, 'month')) \
        .mean() \
        .set('month', m).set('year', y)
  })

  years.map(func_saj).flatten())


print(byMonthYear)

SyntaxError: invalid syntax (Temp/ipykernel_11828/3088432858.py, line 13)