In [1]:
import geemap
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pdb
from IPython.display import display
import ee
import os

In [2]:
import ee
import geemap
service_account = ' boba-account@boba-430314.iam.gserviceaccount.com '
credentials = ee.ServiceAccountCredentials(service_account,'C:/Users/arj26323/OneDrive - University of Georgia/Documents/GEE AUTH/boba-430314-a19be859bfca.json')

ee.Initialize(credentials)

print(geemap.__version__)

0.34.1

In [3]:
#ee.Authenticate()
#geemap.update_package()

# ee.Initialize()

Map = geemap.Map(center=[37.395746,-75.876094], zoom=10)

##Adding every plot coordinate
allplots_fc= pd.read_csv('C:/Users/arj26323/Documents/Data/Biomass datasets/Virginia/Coordinates and biomass/va_allpoints.csv')
allplots_fc = allplots_fc[allplots_fc['liveMass'].notna()]
allplots_fc = allplots_fc[allplots_fc['Latitude'].notna()]
allplots_fc = allplots_fc.drop(columns = ['deadMass', 'collectDate', 'totalMass', 'Ell', 'MSL', 'latitude', 'longitude'])

##Group df1 and average (midpoint) the replicates (a/b)
df_temp=allplots_fc.copy()

df_temp = df_temp.groupby(['Year','locationID','Transect','Latitude','Longitude'],as_index = False).aggregate(
    {
        'liveMass':[np.mean, np.size]
    }
)

df_temp.columns = [
    'Year','locationID','Transect','Latitude','Longitude','liveMass','N'
]
##Adding every plot coordinate
s_patens = pd.read_csv('C:/Users/arj26323/Documents/Data/Biomass datasets/Massachusetts/LTE-MP-LPP-biomass.csv')
s_alterniflora = pd.read_csv('C:/Users/arj26323/Documents/Data/Biomass datasets/Massachusetts/LTE-MP-LPA-biomass.csv')

s_patens['Latitude'] = 42.730953216553
s_patens['Longitude'] = -70.842918395996

s_alterniflora['Latitude'] = 42.731742858887
s_alterniflora['Longitude'] = -70.842468261719

s_patens.rename(columns={'LIVE biomass':'liveMass'}, inplace=True)
s_alterniflora.rename(columns={'MEAN BIOMASS':'liveMass'}, inplace=True)

df = pd.concat([s_patens, s_alterniflora])

df['Date'] = pd.to_datetime(df[['YEAR', 'MONTH', 'DAY']])

# df = df[df['TRT'] == 'C'] ##Remove fertilized plots? Since they won't represent the pixel well. But they might?

dfx =  df.groupby(['SITE', 'Date'], as_index = False).aggregate(
    {
        'Longitude':[np.mean], 'Latitude':[np.mean], 'liveMass':[np.mean, np.size], 
        'MONTH':'first', 'YEAR':'first'
    }
) 

dfx.columns = [
    'Site','Date','Longitude','Latitude','liveMass', 'Sample size','Month', 'Year'
]


dfx.loc[dfx['Site'] == 'LTE-MP-LPP', 'Latitude'] = 42.730953216553
dfx.loc[dfx['Site'] == 'LTE-MP-LPP', 'Longitude'] = -70.842918395996

dfx.loc[dfx['Site'] == 'LTE-MP-LPA', 'Latitude'] = 42.731742858887
dfx.loc[dfx['Site'] == 'LTE-MP-LPA', 'Longitude'] = -70.842468261719


display(dfx) ##Grouped by site and date; average biomass

# dfxend = dfx[dfx['Month'] == 9]
# dfxend

##NOTE: Structure of data extraction will have to be diff from VA/GA - lag variables/month sampled will change FOR EACH ROW
##in the current dataset (since samlping occurs in different months for each row). Not exactly sure how to do this yet.

fc_all = geemap.pandas_to_ee(dfx, latitude = 'Latitude', longitude = 'Longitude')

allplots_fc = df_temp

display(allplots_fc)

fc_all = geemap.pandas_to_ee(allplots_fc, latitude = "Latitude", longitude = "Longitude")

Map.addLayer(fc_all, {}, "fc_all")

,Site,Date,Longitude,Latitude,liveMass,Sample size,Month,Year
0,LTE-MP-LPA,1999-06-30,-70.842468,42.731743,578.075000,4,6,1999
1,LTE-MP-LPA,1999-07-24,-70.842468,42.731743,486.750000,4,7,1999
2,LTE-MP-LPA,1999-08-27,-70.842468,42.731743,389.725000,4,8,1999
3,LTE-MP-LPA,1999-09-22,-70.842468,42.731743,441.625000,4,9,1999
4,LTE-MP-LPA,1999-10-26,-70.842468,42.731743,211.300000,4,10,1999
...,...,...,...,...,...,...,...,...
210,LTE-MP-LPP,2020-08-02,-70.842918,42.730953,1009.666667,6,8,2020
211,LTE-MP-LPP,2021-05-11,-70.842918,42.730953,57.000000,6,5,2021
212,LTE-MP-LPP,2021-06-22,-70.842918,42.730953,462.000000,6,6,2021
213,LTE-MP-LPP,2021-07-27,-70.842918,42.730953,687.333333,6,7,2021
214,LTE-MP-LPP,2021-09-12,-70.842918,42.730953,892.666667,6,9,2021

      Year  locationID Transect   Latitude  Longitude  liveMass  N
0     1999           1        A  37.167147 -75.940768     46.72  2
1     1999           1        A  37.174764 -75.942417    399.68  2
2     1999           1        A  37.180976 -75.940766    441.68  2
3     1999           1        A  37.287699 -75.929487    669.60  2
4     1999           1        A  37.345970 -75.901065    875.52  2
...    ...         ...      ...        ...        ...       ... ..
1003  2017           3        B  37.287875 -75.929008     96.08  2
1004  2017           3        C  37.167768 -75.944280     26.56  2
1005  2017           3        C  37.449973 -75.671952    279.36  1
1006  2018           1        C  37.396051 -75.876056    255.04  1
1007  2018           3        C  37.449973 -75.671952    382.56  1

[1008 rows x 7 columns]

In [4]:
##Function to cloud mask from the pixel_qa band of Landsat 5/8 SR data.

def maskL8sr(image):
    qaMask = image.select('QA_PIXEL').bitwiseAnd(int('11111', 2)).eq(0)
    saturationMask = image.select('QA_RADSAT').eq(0)
    # Apply the scaling factors to the appropriate bands.
    opticalBands = image.select('SR_B.').multiply(0.0000275).add(-0.2)
    thermalBands = image.select('ST_B.*').multiply(0.00341802).add(149.0)
    # Replace the original bands with the scaled ones and apply the masks.
    return image.addBands(opticalBands, None, True) \
    .addBands(thermalBands, None, True) \
    .updateMask(qaMask) \
    .updateMask(saturationMask)

#NOTE 10/6/2022 - This has been updated for Landsat Collection 2 https://www.usgs.gov/landsat-missions/landsat-collection-2
#Scaling factors: https://www.usgs.gov/landsat-missions/landsat-collection-2-level-2-science-products

In [5]:
##TIDAL FILTERING; from Narron et al. 2022
##Utilizes L8 bands 4 and 6 for NDWI, and bands 3 and 4 (for pheno)
##Does it work for Landsat 5?

def addFLATS(image):
    flats = ee.Image(0).expression(
        '1/(1+2.718281828459045**-(-1.57 + 20*(RED-SWIR)/(RED+SWIR) + 68.6*(GREEN-RED)/(GREEN+RED)))', {
            'SWIR': image.select('SR_B6'),
            'RED': image.select('SR_B4'),
            'GREEN': image.select('SR_B3')
        })
    
    return image.addBands(flats.rename('flats'))

def addFLATSL5(image):
    flats = ee.Image(0).expression(
        '1/(1+2.718281828459045**-(-1.57 + 20*(RED-SWIR)/(RED+SWIR) + 68.6*(GREEN-RED)/(GREEN+RED)))', {
            'SWIR': image.select('SR_B5'),
            'RED': image.select('SR_B3'),
            'GREEN': image.select('SR_B2')
        })
    
    return image.addBands(flats.rename('flats'))

#Updated 10/6/2022 - Band names changed for Collection 2

##MASKING FLATS
def maskFLATS(image):
    mask1 = image.select('flats').lte(0.1) #less than or equal to 0.1 - change?
    return image.updateMask(mask1)

##ADDING NDVI (for min/max variables)
def addL5ndvi(image):
    ndvi = image.expression(
        '(NIR-RED)/(RED+NIR)', {
            'NIR': image.select('SR_B4'),
            'RED': image.select('SR_B3'),
            'GREEN': image.select('SR_B2')
        })
    
    return image.addBands(ndvi.rename('ndvi'))

def addL8ndvi(image):
    ndvi = image.expression(
        '(NIR-RED)/(RED+NIR)', {
            'NIR': image.select('SR_B5'),
            'RED': image.select('SR_B4'),
            'GREEN': image.select('SR_B3')
        })
    
    return image.addBands(ndvi.rename('ndvi'))

In [13]:
##Pixel extraction functions - addDate for dateless images/collections
def addDate(image):
    img_date = ee.Date(image.date())
    img_date = ee.Number.parse(img_date.format('YYYYMMdd'))
    return image.addBands(ee.Image(img_date).rename('imagedate').toInt())

##For Landsat images:
def rasterExtraction(image):
    feature = image.sampleRegions(
        collection = fc_all,
        scale = 30,
        tileScale = 8 #ADDED 10/6/2022 - make sure it doesn't affect results

    )
    return feature

##FOR 10m DEM:
def demExtraction(image):
    feature = image.sampleRegions(
        collection = fc_all,
        scale = 10 
    )
    return feature

##FOR 1m DEM:
def dem1Extraction(image):
    feature = image.sampleRegions(
        collection = fc_all,
        scale = 1 
    )
    return feature

#tileScale: https://gis.stackexchange.com/questions/373250/understanding-tilescale-in-earth-engine

In [14]:
##Adding DEM
dem = ee.Image('USGS/3DEP/10m') ##This is 1/3 arc second, or 10 m.
dem1 = ee.ImageCollection('USGS/3DEP/1m')

##Set visualization parameters.
dem_params = {
    'min': 0,
    'max': 4000,
    'palette': ['006633', 'E5FFCC', '662A00', 'D8D8D8', 'F5F5F5'],
}

Map.addLayer(dem, dem_params, '10m DEM')
Map.addLayer(dem1, dem_params, '1m DEM')

In [15]:
##Calculating mean pixel values for time periods within each year

def monthly_Avg (collection, years):
  avg = []
  for year in years: #Originally had a for month in months subloop, with (month,month,'month') being a filter and set month
      Monthly_avg = collection.filter(ee.Filter.calendarRange(year, year, 'year')) \
                              .filter(ee.Filter.calendarRange(5, 10, 'month')) \
                              .mean() \
                              .set({'year': year})
      avg.append (Monthly_avg)
  return ee.ImageCollection.fromImages(avg)

## Compute monthly averages
# monthly_sowing_Avg = monthly_Avg (ndvi_sowSeason, years, sowingMonths)

##Months and years are lists

years_ls5 = range(1999, 2012)
years_ls7 = range(2012, 2013)
years_ls8 = range(2013, 2021)
years_dm = range(2000, 2021)

months = range(5,11)
months_daymet = range(1,12)

#Note:Landsat datasets migrated to Collection 2

ls5_collect = ee.ImageCollection(
    'LANDSAT/LT05/C02/T1_L2'
).filterBounds(fc_all).map(maskL8sr).map(addFLATSL5).map(maskFLATS).map(addL5ndvi) ##MIGRATE TO COLLECTION 2 DATA

ls7_collect = ee.ImageCollection(
    'LANDSAT/LE07/C02/T1_L2'
).filterBounds(fc_all).map(maskL8sr).map(addFLATSL5).map(maskFLATS).map(addL5ndvi) ##MIGRATE TO COLLECTION 2 DATA

ls8_collect = ee.ImageCollection(
    'LANDSAT/LC08/C02/T1_L2'
).filterBounds(fc_all).map(maskL8sr).map(addFLATS).map(maskFLATS).map(addL8ndvi) ##NEW L8 DATASET: "LANDSAT/LC08/C02/T1_L2"

monthly_ls5 = monthly_Avg(ls5_collect, years = years_ls5)
monthly_ls7 = monthly_Avg(ls7_collect, years = years_ls7)
monthly_ls8 = monthly_Avg(ls8_collect, years = years_ls8)

monthly_ls5.size().getInfo()

13

In [16]:
def year_Avg (collection, years):
  avg = []
  for year in years: #Originally had a for month in months subloop, with (month,month,'month') being a filter and set month
      Monthly_avg = collection.filter(ee.Filter.calendarRange(year, year, 'year')) \
                              .filter(ee.Filter.calendarRange(1, 12, 'month')) \
                              .mean() \
                              .set({'year': year})
      avg.append (Monthly_avg)
  return ee.ImageCollection.fromImages(avg)


year_ls5 = year_Avg(ls5_collect, years = years_ls5)
year_ls7 = year_Avg(ls7_collect, years = years_ls7)
year_ls8 = year_Avg(ls8_collect, years = years_ls8)

yearlist_5 = year_ls5.toList(year_ls5.size())
yearlist_7 = year_ls7.toList(year_ls7.size())
yearlist_8 = year_ls8.toList(year_ls8.size())

#PEAK average - different in MA than in GA
def peak_Avg (collection, years):
  avg = []
  for year in years: #Originally had a for month in months subloop, with (month,month,'month') being a filter and set month
      Monthly_avg = collection.filter(ee.Filter.calendarRange(year, year, 'year')) \
                              .filter(ee.Filter.calendarRange(7, 9, 'month')) \
                              .mean() \
                              .set({'year': year})
      avg.append (Monthly_avg)
  return ee.ImageCollection.fromImages(avg)

peak_ls5 = peak_Avg(ls5_collect, years = years_ls5)
peak_ls7 = peak_Avg(ls7_collect, years = years_ls7)
peak_ls8 = peak_Avg(ls8_collect, years = years_ls8)

peaklist_5 = peak_ls5.toList(peak_ls5.size())
peaklist_7 = peak_ls7.toList(peak_ls7.size())
peaklist_8 = peak_ls8.toList(peak_ls8.size())

In [17]:
#Daymet

def dm_Avg (collection, years):
  avg = []
  for year in years: #Originally had a for month in months subloop, with (month,month,'month') being a filter
      Monthly_avg = collection.filter(ee.Filter.calendarRange(year, year, 'year')) \
                              .filter(ee.Filter.calendarRange(1, 12, 'month')) \
                              .mean() \
                              .set({'year': year})
      avg.append (Monthly_avg)
  return ee.ImageCollection.fromImages(avg)


#PEAK average - different in MA than in GA
def peakdm_Avg (collection, years):
  avg = []
  for year in years: #Originally had a for month in months subloop, with (month,month,'month') being a filter
      Monthly_avg = collection.filter(ee.Filter.calendarRange(year, year, 'year')) \
                              .filter(ee.Filter.calendarRange(7, 9, 'month')) \
                              .mean() \
                              .set({'year': year})
      avg.append (Monthly_avg)
  return ee.ImageCollection.fromImages(avg)

daymet = ee.ImageCollection('NASA/ORNL/DAYMET_V4').filterBounds(fc_all)

#Over year
monthly_dm = dm_Avg(daymet, years = years_dm)
dm_list = monthly_dm.toList(monthly_dm.size())

#Peak biomass
peak_dm = peakdm_Avg(daymet, years = years_dm)
peakdm_list = peak_dm.toList(peak_dm.size())

In [20]:
#Elevation
dem_extract = demExtraction(dem)
dem_dict = dem_extract.getInfo()
# Extract the properties of the features into a list of dictionaries
features = [feature['properties'] for feature in dem_dict['features']]
# Convert the list of dictionaries into a pandas DataFrame
dem_vals = pd.DataFrame(features)
dem_vals

# dem_vals = geemap.ee_to_pandas(demExtraction(dem)) ##10m dataset NO MORE EE_TO_PANDAS
# dem_vals = geemap.ee_to_pandas(dem1.map(dem1Extraction).flatten()) ##ONE METER DATASET

       Latitude  Longitude  N Transect  Year  elevation  liveMass  locationID
0     37.167147 -75.940768  2        A  1999   0.157865     46.72           1
1     37.174764 -75.942417  2        A  1999   0.170457    399.68           1
2     37.180976 -75.940766  2        A  1999   0.417727    441.68           1
3     37.287699 -75.929487  2        A  1999   0.601948    669.60           1
4     37.345970 -75.901065  2        A  1999   0.476658    875.52           1
...         ...        ... ..      ...   ...        ...       ...         ...
1003  37.287875 -75.929008  2        B  2017   1.035588     96.08           3
1004  37.167768 -75.944280  2        C  2017   0.627959     26.56           3
1005  37.449973 -75.671952  1        C  2017   1.261021    279.36           3
1006  37.396051 -75.876056  1        C  2018   0.957294    255.04           1
1007  37.449973 -75.671952  1        C  2018   1.261021    382.56           3

[1008 rows x 8 columns]

In [21]:
list_5 = monthly_ls5.toList(monthly_ls5.size())
list_7 = monthly_ls7.toList(monthly_ls7.size())
list_8 = monthly_ls8.toList(monthly_ls8.size())

In [12]:
##Monthly/yearly extraction - NOTE: Takes a while to run
##SUBSET BY YEAR

In [23]:
#MayOCT?:
years_l5 = range(2000, 2012)
years_l7 = range(2012, 2013)
years_l8 = range(2013, 2021)

landsat5_list = []
for i in range(len(years_l5)):
    ls5_x = rasterExtraction(ee.Image(list_5.get(i)))
    fc_dict = ls5_x.getInfo()
    features = [feature['properties'] for feature in fc_dict['features']]
    ydf = pd.DataFrame(features)
    sample5 = ydf[ydf['Year'] == years_l5[i]]
    landsat5_list.append(sample5) 
    
landsat7_list = []
for i in range(len(years_l7)):
    ls7_x = rasterExtraction(ee.Image(list_7.get(i)))
    fc_dict = ls7_x.getInfo()
    features = [feature['properties'] for feature in fc_dict['features']]
    ydf = pd.DataFrame(features)
    sample7 = ydf[ydf['Year'] == years_l7[i]]
    landsat7_list.append(sample7)  
    
landsat8_list = []
for i in range(len(years_l8)):
    ls8_x = rasterExtraction(ee.Image(list_8.get(i)))
    fc_dict = ls8_x.getInfo()
    features = [feature['properties'] for feature in fc_dict['features']]
    ydf = pd.DataFrame(features)
    sample8 = ydf[ydf['Year'] == years_l8[i]]
    landsat8_list.append(sample8) 

    
l5_extract = pd.concat(landsat5_list)
l7_extract = pd.concat(landsat7_list)
l8_extract = pd.concat(landsat8_list)

landsat_extract = pd.concat([l5_extract,l7_extract,l8_extract])

landsat_extract

,Latitude,Longitude,N,QA_PIXEL,QA_RADSAT,SR_ATMOS_OPACITY,SR_B1,SR_B2,SR_B3,SR_B4,...,ST_URAD,Transect,Year,flats,liveMass,locationID,ndvi,SR_B6,SR_QA_AEROSOL,ST_B10
26,37.180976,-75.940766,2,5440.0,0,226.000000,0.039319,0.063656,0.059476,0.127869,...,1150.000000,A,2000,0.004974,183.20,1,0.369888,NaN,NaN,NaN
27,37.395461,-75.876249,2,5440.0,0,235.333333,0.050452,0.077622,0.082425,0.208027,...,1894.000000,A,2000,0.000009,823.20,1,0.428295,NaN,NaN,NaN
28,37.416742,-75.861310,2,5440.0,0,202.500000,0.039484,0.051914,0.051336,0.136132,...,1094.000000,A,2000,0.003782,776.00,1,0.465610,NaN,NaN,NaN
29,37.482293,-75.819265,2,5440.0,0,250.333333,0.037508,0.057308,0.059270,0.142998,...,1876.333333,A,2000,0.000649,1108.80,1,0.426925,NaN,NaN,NaN
30,37.346190,-75.900996,2,5440.0,0,262.333333,0.045025,0.066530,0.067731,0.158747,...,1903.666667,B,2000,0.000191,546.40,1,0.410342,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
964,37.174970,-75.943949,2,21824.0,0,NaN,0.041386,0.044881,0.061494,0.057033,...,2225.333333,B,2017,0.000428,121.44,3,0.585753,0.177282,82.666667,301.941204
965,37.287875,-75.929008,2,21824.0,0,NaN,0.030412,0.034420,0.052838,0.043774,...,2122.375000,B,2017,0.004983,96.08,3,0.710466,0.152598,104.000000,300.179025
966,37.167768,-75.944280,2,21824.0,0,NaN,0.055152,0.061604,0.080617,0.087904,...,2127.375000,C,2017,0.000042,26.56,3,0.348683,0.170975,88.500000,302.778002
967,37.449973,-75.671952,1,21824.0,0,NaN,0.030711,0.031619,0.042564,0.034671,...,866.500000,C,2017,0.002803,279.36,3,0.717832,0.126095,96.000000,295.304928
887,37.396051,-75.876056,1,21824.0,0,NaN,0.045575,0.049792,0.072800,0.064458,...,3823.000000,C,2018,0.001107,255.04,1,0.611018,0.190674,96.000000,309.460088

In [ ]:
#Yearly:
years_l5 = range(2000, 2012)
years_l7 = range(2012, 2013)
years_l8 = range(2013, 2021)

# year_extract

landsat5_list = []
for i in range(len(years_l5)):
    ls5_x = rasterExtraction(ee.Image(yearlist_5.get(i)))
    fc_dict = ls5_x.getInfo()
    features = [feature['properties'] for feature in fc_dict['features']]
    ydf = pd.DataFrame(features)
    sample5 = ydf[ydf['Year'] == years_l5[i]]
    landsat5_list.append(sample5) 
    
landsat7_list = []
for i in range(len(years_l7)):
    ls7_x = rasterExtraction(ee.Image(yearlist_7.get(i)))
    fc_dict = ls7_x.getInfo()
    features = [feature['properties'] for feature in fc_dict['features']]
    ydf = pd.DataFrame(features)
    sample7 = ydf[ydf['Year'] == years_l7[i]]
    landsat7_list.append(sample7) 
    
landsat8_list = []
for i in range(len(years_l8)):
    ls8_x = rasterExtraction(ee.Image(yearlist_8.get(i)))
    fc_dict = ls8_x.getInfo()
    features = [feature['properties'] for feature in fc_dict['features']]
    ydf = pd.DataFrame(features)
    sample8 = ydf[ydf['Year'] == years_l8[i]]
    landsat8_list.append(sample8) 

l5_extract = pd.concat(landsat5_list)
l7_extract = pd.concat(landsat7_list)
l8_extract = pd.concat(landsat8_list)

year_extract = pd.concat([l5_extract,l7_extract,l8_extract])

year_extract

In [ ]:
#Peak
years_l5 = range(2000, 2012)
years_l7 = range(2012, 2013)
years_l8 = range(2013, 2021)

##PEAK EXTRACT

landsat5_list = []
for i in range(len(years_l5)):
    ls5_x = rasterExtraction(ee.Image(peaklist_5.get(i)))
    fc_dict = ls5_x.getInfo()
    features = [feature['properties'] for feature in fc_dict['features']]
    ydf = pd.DataFrame(features)
    sample5 = ydf[ydf['Year'] == years_l5[i]]
    landsat5_list.append(sample5) 
    
landsat7_list = []
for i in range(len(years_l7)):
    ls7_x = rasterExtraction(ee.Image(peaklist_7.get(i)))
    fc_dict = ls7_x.getInfo()
    features = [feature['properties'] for feature in fc_dict['features']]
    ydf = pd.DataFrame(features)
    sample7 = ydf[ydf['Year'] == years_l7[i]]
    landsat7_list.append(sample7) 
    
landsat8_list = []
for i in range(len(years_l8)):
    ls8_x = rasterExtraction(ee.Image(peaklist_8.get(i)))
    fc_dict = ls8_x.getInfo()
    features = [feature['properties'] for feature in fc_dict['features']]
    ydf = pd.DataFrame(features)
    sample8 = ydf[ydf['Year'] == years_l8[i]]
    landsat8_list.append(sample8) 

l5_extract = pd.concat(landsat5_list)
l7_extract = pd.concat(landsat7_list)
l8_extract = pd.concat(landsat8_list)

peak_extract = pd.concat([l5_extract,l7_extract,l8_extract])

peak_extract

In [16]:
#Daymet for loop and elevation
years_dm = range(2000, 2021)

daymet_list = []
for i in range(len(years_dm)):
    dm_x = geemap.ee_to_pandas(rasterExtraction(ee.Image(dm_list.get(i))))
    sampledm = dm_x[dm_x['Year'] == years_dm[i]]
    daymet_list.append(sampledm) 
    
daymet_extract = pd.concat(daymet_list)

In [17]:
#Daymet peak time
years_dm = range(2000, 2021)

daymet_list = []
for i in range(len(years_dm)):
    dm_x = geemap.ee_to_pandas(rasterExtraction(ee.Image(peakdm_list.get(i))))
    sampledm = dm_x[dm_x['Year'] == years_dm[i]]
    daymet_list.append(sampledm) 
    
peakdaymet_extract = pd.concat(daymet_list)

peakdaymet_extract

,Year,locationID,Latitude,liveMass,Longitude,Transect,N,swe,tmax,srad,tmin,vp,prcp,dayl
117,2000,1,37.167147,420.80,-75.940768,A,2,0,27.793913,339.912170,19.085543,2241.207275,6.571848,47750.019531
118,2000,1,37.174764,623.20,-75.942417,A,2,0,27.793913,339.912170,19.085543,2241.207275,6.571848,47750.019531
119,2000,1,37.180976,183.20,-75.940766,A,2,0,27.788370,340.053040,19.070869,2239.245605,6.514565,47750.019531
120,2000,1,37.287699,1266.40,-75.929487,A,2,0,27.680979,343.146729,18.896088,2216.339355,6.078478,47769.390625
121,2000,1,37.345970,1160.80,-75.901065,A,2,0,27.630434,346.489227,18.828913,2207.890381,5.661739,47779.101562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,2017,3,37.287875,96.08,-75.929008,B,2,0,28.683153,340.616089,20.514238,2449.047363,4.449131,47885.062500
1004,2017,3,37.167768,26.56,-75.944280,C,2,0,28.850000,338.177185,20.784456,2487.436523,4.208261,47865.199219
1005,2017,3,37.449973,279.36,-75.671952,C,1,0,28.508369,339.147491,20.352610,2422.282715,5.107718,47914.984375
1006,2018,1,37.396051,255.04,-75.876056,C,1,0,29.515108,320.654144,21.523804,2590.345703,5.169022,47904.996094
1007,2018,3,37.449973,382.56,-75.671952,C,1,0,29.567064,325.253906,21.693695,2599.901367,4.844131,47914.984375

In [18]:
#Final steps - extra rows in merge?

#MayOct and elevation
dfx = pd.merge(landsat_extract, dem_vals, how = 'left')

#dfx and AugOct
peak_extract.rename(
    columns={
        'SR_B1':'SR_B1_peak','SR_B2':'SR_B2_peak','SR_B3':'SR_B3_peak','SR_B4':'SR_B4_peak', 'SR_B5':'SR_B5_peak',
        'SR_B6':'SR_B6_peak', 'SR_B7':'SR_B7_peak', 'flats':'flats_peak'
    }, inplace=True
)

dfx1 = pd.merge(dfx, peak_extract, on = ['liveMass', 'Transect', 'locationID', 'Year'], how='outer',
                suffixes=('', '_DROP')).filter(regex='^(?!.*_DROP)')

#dfx1 and year_extract

year_extract.rename(
    columns={
        'SR_B1':'SR_B1_year','SR_B2':'SR_B2_year','SR_B3':'SR_B3_year','SR_B4':'SR_B4_year', 'SR_B5':'SR_B5_year',
        'SR_B6':'SR_B6_year', 'SR_B7':'SR_B7_year', 'flats':'flats_year'
    }, inplace=True
)

dfx2 = pd.merge(dfx1, year_extract, on = ['liveMass', 'Transect', 'locationID', 'Year'], how='outer',
                suffixes=('', '_DROP')).filter(regex='^(?!.*_DROP)')


#dfx2 and daymet mayoct
dfx3 = pd.merge(dfx2, daymet_extract, on = ['liveMass', 'Transect', 'locationID', 'Year'], how='right')

#dfx3 and daymet peak
peakdaymet_extract.rename(
    columns={
        'swe':'swe_peak','tmax':'tmax_peak','tmin':'tmin_peak','srad':'srad_peak', 'vp':'vp_peak',
        'prcp':'prcp_peak', 'dayl':'dayl_peak'
    }, inplace=True
)

df = pd.merge(dfx3, peakdaymet_extract, on = ['liveMass', 'Transect', 'locationID', 'Year'], how='right',
              suffixes=('', '_DROP')).filter(regex='^(?!.*_DROP)')

display(df)

,Year,locationID,Latitude_x,liveMass,Longitude_x,Transect,N_x,ST_EMSD,ST_URAD,ST_TRAD,...,Latitude,Longitude,N,swe_peak,tmax_peak,srad_peak,tmin_peak,vp_peak,prcp_peak,dayl_peak
0,2000,1,NaN,420.80,NaN,A,NaN,NaN,NaN,NaN,...,37.167147,-75.940768,2,0,27.793913,339.912170,19.085543,2241.207275,6.571848,47750.019531
1,2000,1,NaN,623.20,NaN,A,NaN,NaN,NaN,NaN,...,37.174764,-75.942417,2,0,27.793913,339.912170,19.085543,2241.207275,6.571848,47750.019531
2,2000,1,37.180976,183.20,-75.940766,A,2.0,0.0,1150.000,8381.000,...,37.180976,-75.940766,2,0,27.788370,340.053040,19.070869,2239.245605,6.514565,47750.019531
3,2000,1,NaN,1266.40,NaN,A,NaN,NaN,NaN,NaN,...,37.287699,-75.929487,2,0,27.680979,343.146729,18.896088,2216.339355,6.078478,47769.390625
4,2000,1,NaN,1160.80,NaN,A,NaN,NaN,NaN,NaN,...,37.345970,-75.901065,2,0,27.630434,346.489227,18.828913,2207.890381,5.661739,47779.101562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,2017,3,37.287875,96.08,-75.929008,B,2.0,129.0,2122.375,8970.000,...,37.287875,-75.929008,2,0,28.683153,340.616089,20.514238,2449.047363,4.449131,47885.062500
904,2017,3,37.167768,26.56,-75.944280,C,2.0,60.0,2127.375,9160.125,...,37.167768,-75.944280,2,0,28.850000,338.177185,20.784456,2487.436523,4.208261,47865.199219
905,2017,3,37.449973,279.36,-75.671952,C,1.0,71.0,866.500,8582.000,...,37.449973,-75.671952,1,0,28.508369,339.147491,20.352610,2422.282715,5.107718,47914.984375
906,2018,1,37.396051,255.04,-75.876056,C,1.0,71.0,3823.000,9390.000,...,37.396051,-75.876056,1,0,29.515108,320.654144,21.523804,2590.345703,5.169022,47904.996094
907,2018,3,NaN,382.56,NaN,C,NaN,NaN,NaN,NaN,...,37.449973,-75.671952,1,0,29.567064,325.253906,21.693695,2599.901367,4.844131,47914.984375

In [19]:
##Bands and indices
df['Sensor'] = np.where(df['Year']<2013, 'Landsat 5', 'Landsat 8') ##make sure no other sensors are being used

df.loc[df['Year'] == 2012, 'Sensor'] = 'Landsat 7'

df['ndvi'] = np.where(df['Sensor'] == 'Landsat 8', (df['SR_B5']-df['SR_B4'])/(df['SR_B5']+df['SR_B4']), \
                      (df['SR_B4']-df['SR_B3'])/(df['SR_B4']+df['SR_B3'])) 
##ndvi conditional based on whether sensor is Landsat-5 or 8

df['Blue_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B2'], df['SR_B1'])
df['Green_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B3'], df['SR_B2'])
df['Red_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B4'], df['SR_B3'])
df['NIR_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B5'], df['SR_B4'])
df['SWIR1_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B6'], df['SR_B5'])
df['SWIR2_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B7'], df['SR_B7'])

##Variables from Byrd et al. 2018 (make sure calculations are accurate):
df['savi'] = ((df['NIR_band']-df['Red_band'])*1.5)/(df['NIR_band']+df['Red_band']+0.5)
df['wdrvi5'] = (0.5*df['NIR_band']-df['Red_band'])/(0.5*df['NIR_band']+df['Red_band'])
df['nd_r_g'] = (df['Red_band']-df['Green_band'])/(df['Red_band']+df['Green_band'])
df['nd_g_b'] = (df['Green_band']-df['Blue_band'])/(df['Green_band']+df['Blue_band'])
df['nd_swir2_nir'] = (df['SWIR2_band']-df['NIR_band'])/(df['SWIR2_band']+df['NIR_band'])
df['nd_swir2_r'] = (df['SWIR2_band']-df['Red_band'])/(df['SWIR2_band']+df['Red_band'])

display(df)

##EXPORT
out_dir = os.path.expanduser('~/Downloads')
out_csv = os.path.join(out_dir, 'df_mayoct.csv')
# df.to_csv(out_csv, index = False)

,Year,locationID,Latitude_x,liveMass,Longitude_x,Transect,N_x,ST_EMSD,ST_URAD,ST_TRAD,...,Red_band,NIR_band,SWIR1_band,SWIR2_band,savi,wdrvi5,nd_r_g,nd_g_b,nd_swir2_nir,nd_swir2_r
0,2000,1,NaN,420.80,NaN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,1,NaN,623.20,NaN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,1,37.180976,183.20,-75.940766,A,2.0,0.0,1150.000,8381.000,...,0.059476,0.127869,0.110874,0.063945,0.149254,0.036124,-0.033947,0.236344,-0.333259,0.036207
3,2000,1,NaN,1266.40,NaN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,1,NaN,1160.80,NaN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,2017,3,37.287875,96.08,-75.929008,B,2.0,129.0,2122.375,8970.000,...,0.043774,0.258239,0.152598,0.073707,0.401114,0.493633,-0.093826,0.211075,-0.555908,0.254796
904,2017,3,37.167768,26.56,-75.944280,C,2.0,60.0,2127.375,9160.125,...,0.087904,0.182487,0.170975,0.107323,0.184159,0.018639,0.043244,0.133685,-0.259357,0.099466
905,2017,3,37.449973,279.36,-75.671952,C,1.0,71.0,866.500,8582.000,...,0.034671,0.211029,0.126095,0.060865,0.354749,0.505352,-0.102188,0.147542,-0.552288,0.274176
906,2018,1,37.396051,255.04,-75.876056,C,1.0,71.0,3823.000,9390.000,...,0.064458,0.268976,0.190674,0.095992,0.368087,0.352003,-0.060773,0.187683,-0.473971,0.196531
907,2018,3,NaN,382.56,NaN,C,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df['ndvi_year'] = np.where(df['Sensor'] == 'Landsat 8', (df['SR_B5_year']-df['SR_B4_year'])/(df['SR_B5_year']+df['SR_B4_year']), \
                      (df['SR_B4_year']-df['SR_B3_year'])/(df['SR_B4_year']+df['SR_B3_year'])) 
##ndvi conditional based on whether sensor is Landsat-5 or 8

df['Blue_band_year'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B2_year'], df['SR_B1_year'])
df['Green_band_year'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B3_year'], df['SR_B2_year'])
df['Red_band_year'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B4_year'], df['SR_B3_year'])
df['NIR_band_year'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B5_year'], df['SR_B4_year'])
df['SWIR1_band_year'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B6_year'], df['SR_B5_year'])
df['SWIR2_band_year'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B7_year'], df['SR_B7_year'])

##Variables from Byrd et al. 2018 (make sure calculations are accurate):
df['savi_year'] = ((df['NIR_band_year']-df['Red_band_year'])*1.5)/(df['NIR_band_year']+df['Red_band_year']+0.5)
df['wdrvi5_year'] = (0.5*df['NIR_band_year']-df['Red_band_year'])/(0.5*df['NIR_band_year']+df['Red_band_year'])
df['nd_r_g_year'] = (df['Red_band_year']-df['Green_band_year'])/(df['Red_band_year']+df['Green_band_year'])
df['nd_g_b_year'] = (df['Green_band_year']-df['Blue_band_year'])/(df['Green_band_year']+df['Blue_band_year'])
df['nd_swir2_nir_year'] = (df['SWIR2_band_year']-df['NIR_band_year'])/(df['SWIR2_band_year']+df['NIR_band_year'])
df['nd_swir2_r_year'] = (df['SWIR2_band_year']-df['Red_band_year'])/(df['SWIR2_band_year']+df['Red_band_year'])

In [21]:
df['ndvi_peak'] = np.where(df['Sensor'] == 'Landsat 8', (df['SR_B5_peak']-df['SR_B4_peak'])/(df['SR_B5_peak']+df['SR_B4_peak']), \
                      (df['SR_B4_peak']-df['SR_B3_peak'])/(df['SR_B4_peak']+df['SR_B3_peak'])) 
##ndvi conditional based on whether sensor is Landsat-5 or 8

df['Blue_band_peak'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B2_peak'], df['SR_B1_peak'])
df['Green_band_peak'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B3_peak'], df['SR_B2_peak'])
df['Red_band_peak'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B4_peak'], df['SR_B3_peak'])
df['NIR_band_peak'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B5_peak'], df['SR_B4_peak'])
df['SWIR1_band_peak'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B6_peak'], df['SR_B5_peak'])
df['SWIR2_band_peak'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B7_peak'], df['SR_B7_peak'])

##Variables from Byrd et al. 2018 (make sure calculations are accurate):
df['savi_peak'] = ((df['NIR_band_peak']-df['Red_band_peak'])*1.5)/(df['NIR_band_peak']+df['Red_band_peak']+0.5)
df['wdrvi5_peak'] = (0.5*df['NIR_band_peak']-df['Red_band_peak'])/(0.5*df['NIR_band_peak']+df['Red_band_peak'])
df['nd_r_g_peak'] = (df['Red_band_peak']-df['Green_band_peak'])/(df['Red_band_peak']+df['Green_band_peak'])
df['nd_g_b_peak'] = (df['Green_band_peak']-df['Blue_band_peak'])/(df['Green_band_peak']+df['Blue_band_peak'])
df['nd_swir2_nir_peak'] = (df['SWIR2_band_peak']-df['NIR_band_peak'])/(df['SWIR2_band_peak']+df['NIR_band_peak'])
df['nd_swir2_r_peak'] = (df['SWIR2_band_peak']-df['Red_band_peak'])/(df['SWIR2_band_peak']+df['Red_band_peak'])

In [22]:
##Bands and indices
df['Sensor'] = np.where(df['Year']<2013, 'Landsat 5', 'Landsat 8') ##make sure no other sensors are being used

df.loc[df['Year'] == 2012, 'Sensor'] = 'Landsat 7'

df['ndvi'] = np.where(df['Sensor'] == 'Landsat 8', (df['SR_B5']-df['SR_B4'])/(df['SR_B5']+df['SR_B4']), \
                      (df['SR_B4']-df['SR_B3'])/(df['SR_B4']+df['SR_B3'])) 
##ndvi conditional based on whether sensor is Landsat-5 or 8

df['Blue_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B2'], df['SR_B1'])
df['Green_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B3'], df['SR_B2'])
df['Red_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B4'], df['SR_B3'])
df['NIR_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B5'], df['SR_B4'])
df['SWIR1_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B6'], df['SR_B5'])
df['SWIR2_band'] = np.where(df['Sensor'] == 'Landsat 8', df['SR_B7'], df['SR_B7'])

##Variables from Byrd et al. 2018 (make sure calculations are accurate):
df['savi'] = ((df['NIR_band']-df['Red_band'])*1.5)/(df['NIR_band']+df['Red_band']+0.5)
df['wdrvi5'] = (0.5*df['NIR_band']-df['Red_band'])/(0.5*df['NIR_band']+df['Red_band'])
df['nd_r_g'] = (df['Red_band']-df['Green_band'])/(df['Red_band']+df['Green_band'])
df['nd_g_b'] = (df['Green_band']-df['Blue_band'])/(df['Green_band']+df['Blue_band'])
df['nd_swir2_nir'] = (df['SWIR2_band']-df['NIR_band'])/(df['SWIR2_band']+df['NIR_band'])
df['nd_swir2_r'] = (df['SWIR2_band']-df['Red_band'])/(df['SWIR2_band']+df['Red_band'])

display(df)

##EXPORT
out_dir = os.path.expanduser('~/Downloads')
out_csv = os.path.join(out_dir, 'va_min.csv')
# df.to_csv(out_csv, index = False)

,Year,locationID,Latitude_x,liveMass,Longitude_x,Transect,N_x,ST_EMSD,ST_URAD,ST_TRAD,...,Red_band_peak,NIR_band_peak,SWIR1_band_peak,SWIR2_band_peak,savi_peak,wdrvi5_peak,nd_r_g_peak,nd_g_b_peak,nd_swir2_nir_peak,nd_swir2_r_peak
0,2000,1,NaN,420.80,NaN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,1,NaN,623.20,NaN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,1,37.180976,183.20,-75.940766,A,2.0,0.0,1150.000,8381.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,1,NaN,1266.40,NaN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,1,NaN,1160.80,NaN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,2017,3,37.287875,96.08,-75.929008,B,2.0,129.0,2122.375,8970.000,...,0.043164,0.264924,0.147160,0.069051,0.411638,0.508454,-0.105522,0.239362,-0.586491,0.230688
904,2017,3,37.167768,26.56,-75.944280,C,2.0,60.0,2127.375,9160.125,...,0.092453,0.203233,0.172643,0.105012,0.208837,0.047215,0.034781,0.141127,-0.318646,0.063598
905,2017,3,37.449973,279.36,-75.671952,C,1.0,71.0,866.500,8582.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
906,2018,1,37.396051,255.04,-75.876056,C,1.0,71.0,3823.000,9390.000,...,0.064458,0.268976,0.190674,0.095992,0.368087,0.352003,-0.060773,0.187683,-0.473971,0.196531
907,2018,3,NaN,382.56,NaN,C,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
##Next step: ML
df = df[df['Red_band'].notna()]
df = df[df['SR_B4_peak'].notna()]
df = df[df['SR_B4_year'].notna()]
df

,Year,locationID,Latitude_x,liveMass,Longitude_x,Transect,N_x,ST_EMSD,ST_URAD,ST_TRAD,...,Red_band_peak,NIR_band_peak,SWIR1_band_peak,SWIR2_band_peak,savi_peak,wdrvi5_peak,nd_r_g_peak,nd_g_b_peak,nd_swir2_nir_peak,nd_swir2_r_peak
5,2000,1,37.395461,823.20,-75.876249,A,2.0,71.0,1894.000000,8824.333333,...,0.075825,0.251578,0.222483,0.121860,0.318622,0.247819,-0.012358,0.212851,-0.347361,0.232870
15,2000,1,37.395746,528.00,-75.876094,B,2.0,71.0,1894.000000,8806.000000,...,0.079125,0.263128,0.191655,0.107175,0.327697,0.248892,-0.017081,0.183443,-0.421149,0.150564
25,2000,1,37.396051,481.60,-75.876056,C,2.0,71.0,1894.000000,8806.000000,...,0.079097,0.266977,0.207110,0.118202,0.333091,0.255855,-0.017087,0.200946,-0.386248,0.198201
29,2000,1,37.481756,796.00,-75.819638,C,2.0,77.0,1876.333333,8621.000000,...,0.050855,0.123098,0.086055,0.044915,0.160788,0.095137,-0.035970,0.286034,-0.465337,-0.062024
44,2000,2,37.407562,748.00,-75.698011,B,2.0,0.0,1871.333333,8565.666667,...,0.040405,0.110915,0.080720,0.044860,0.162386,0.157022,-0.061631,0.148555,-0.424041,0.052249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901,2017,3,37.407757,18.88,-75.697233,A,2.0,0.0,2289.375000,9004.750000,...,0.063047,0.168573,0.153118,0.085542,0.216355,0.144163,-0.015530,0.106522,-0.326748,0.151391
902,2017,3,37.174970,121.44,-75.943949,B,2.0,75.0,2225.333333,9071.333333,...,0.059380,0.239017,0.176179,0.092586,0.337495,0.336123,-0.047792,0.158105,-0.441584,0.218511
903,2017,3,37.287875,96.08,-75.929008,B,2.0,129.0,2122.375000,8970.000000,...,0.043164,0.264924,0.147160,0.069051,0.411638,0.508454,-0.105522,0.239362,-0.586491,0.230688
904,2017,3,37.167768,26.56,-75.944280,C,2.0,60.0,2127.375000,9160.125000,...,0.092453,0.203233,0.172643,0.105012,0.208837,0.047215,0.034781,0.141127,-0.318646,0.063598
906,2018,1,37.396051,255.04,-75.876056,C,1.0,71.0,3823.000000,9390.000000,...,0.064458,0.268976,0.190674,0.095992,0.368087,0.352003,-0.060773,0.187683,-0.473971,0.196531

In [ ]:
#:)