In [1]:
import geemap
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pdb
from IPython.display import display
import ee
import os

In [2]:
import ee
import geemap
service_account = ' boba-account@boba-430314.iam.gserviceaccount.com '
credentials = ee.ServiceAccountCredentials(service_account,'C:/Users/arj26323/OneDrive - University of Georgia/Documents/GEE AUTH/boba-430314-a19be859bfca.json')

ee.Initialize(credentials)

print(geemap.__version__)

0.34.1

In [14]:
flux_ga = geemap.shp_to_ee('F:/Wetlands shapefiles/GCE flux tower/expanded_flux.shp')

#Cloud masking/scaling
def maskL8sr(image):
    qaMask = image.select('QA_PIXEL').bitwiseAnd(int('11111', 2)).eq(0)
    saturationMask = image.select('QA_RADSAT').eq(0)
    # Apply the scaling factors to the appropriate bands.
    opticalBands = image.select('SR_B.').multiply(0.0000275).add(-0.2)
    thermalBands = image.select('ST_B.*').multiply(0.00341802).add(149.0)
    # Replace the original bands with the scaled ones and apply the masks.
    return image.addBands(opticalBands, None, True) \
    .addBands(thermalBands, None, True) \
    .updateMask(qaMask) \
    .updateMask(saturationMask)

#Add FLATS function
def addFLATSL8(image):
    flats = ee.Image(0).expression(
        '1/(1+2.718281828459045**-(1.51 + 12.5*(0.841*(RED-SWIR)/(RED+SWIR) - 0.019) - 41.2*(0.771*(NIR-RED)/(NIR+6*RED-7.5*BLUE+1) + 0.011)))', {
            'SWIR': image.select('SR_B6'),
            'NIR': image.select('SR_B5'),
            'RED': image.select('SR_B4'),
            'BLUE': image.select('SR_B2')
        })
    
    return image.addBands(flats.rename('flats'))

#FLATS mask function
def maskFLATS(image):
    mask1 = image.select('flats').lte(0.2) 
    return image.updateMask(mask1)

#Add FLATS, mask for each image in collection
l8_col = ee.ImageCollection('LANDSAT/LC08/C02/T1_L2') \
    .filter(ee.Filter.calendarRange(2013, 2023,'year')) \
    .filterBounds(flux_ga) \
    .map(maskL8sr).map(addFLATSL8).map(maskFLATS)

In [19]:
Map = geemap.Map()
# print(l8_col.size().getInfo())
x = l8_col.first()
props = geemap.image_props(x)
props.getInfo()

Map.addLayer(x)
Map

Map(center=[0, 0], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=SearchDataGUI(childr…

In [25]:
# Function to mask clouds in Landsat 8 Surface Reflectance data
def mask_l8_sr(image):
    qa_mask = image.select('QA_PIXEL').bitwiseAnd(int('11111', 2)).eq(0)
    saturation_mask = image.select('QA_RADSAT').eq(0)
    
    optical_bands = image.select('SR_B.*').multiply(0.0000275).add(-0.2)
    thermal_bands = image.select('ST_B.*').multiply(0.00341802).add(149.0)
    
    return (image.addBands(optical_bands, None, True)
                .addBands(thermal_bands, None, True)
                .updateMask(qa_mask)
                .updateMask(saturation_mask))

# Load Landsat 8 collection and apply cloud masking
landsat_collection = (ee.ImageCollection('LANDSAT/LC08/C02/T1_L2')
                      .filterDate('2013-01-01', '2021-12-31')
                      .filterBounds(flux_ga)
                      .map(mask_l8_sr))

# Function to calculate FLATS+ index
def calculate_flats_plus(image):
    ndwi = image.normalizedDifference(['SR_B3', 'SR_B5'])
    evi = image.expression(
        '2.5 * ((NIR - RED) / (NIR + (6 * RED) - (7.5 * BLUE) + 1))', {
            'NIR': image.select('SR_B5'),
            'RED': image.select('SR_B4'),
            'BLUE': image.select('SR_B2')
        }
    )
    
    flats = (ndwi.multiply(12.5)
             .subtract(evi.multiply(41.2))
             .add(1.51)
             .exp()
             .add(1)
             .pow(-1)
             .multiply(-1)
             .add(1))
    
    return image.addBands(flats.rename('FLATSplus'))

# Apply FLATS+ calculation
landsat_with_flats_plus = landsat_collection.map(calculate_flats_plus)

# Create a mean composite and clip to study area
mean_composite = landsat_with_flats_plus.mean().clip(flux_ga)

# Visualization parameters
flats_vis_params = {
    'min': 0,
    'max': 1,
    'palette': ['green', 'yellow', 'orange', 'red']
}

rgb_vis_params = {
    'min': 0,
    'max': 0.3,
    'gamma': [1.4]
}

# Create the map
Map = geemap.Map()
Map.centerObject(flux_ga, 10)
Map.addLayer(mean_composite.select('FLATSplus'), flats_vis_params, 'FLATSplus Index')
Map.addLayer(mean_composite.select(['SR_B5', 'SR_B4', 'SR_B3']), rgb_vis_params, 'False Color (NIR-Red-Green)')
Map

# Mask out flooded areas where FLATS+ is ≥ 0.2
def mask_flooded_areas(image):
    mask = image.select('FLATSplus').lt(0.2)
    return image.updateMask(mask)

masked_unflooded_collection = landsat_with_flats_plus.map(mask_flooded_areas)

Map.addLayer(masked_unflooded_collection.first(), rgb_vis_params, 'False Color (NIR-Red-Green)')
Map.addLayer(landsat_with_flats_plus.first(), rgb_vis_params, 'x')

Map

Map(center=[31.44565510385937, -81.28108052614698], controls=(WidgetControl(options=['position', 'transparent_…

In [23]:
# import geemap

Map = geemap.Map()

# image = ee.Image(filtered.mosaic()).set({'date':date})
# Map

In [24]:
#ee.Authenticate()
#geemap.update_package()

# ee.Initialize()

Map = geemap.Map(center=[31.539096,-81.422318], zoom=10)

ga_pt = ee.Feature(ee.Geometry.Point([-81.422318, 31.539096]))

ga_pts = ee.FeatureCollection([
  ee.Feature(ee.Geometry.Point([-81.422318, 31.539096]), {'site_id': '1'}),
  ee.Feature(ee.Geometry.Point([-81.295564, 31.535967]), {'site_id': '2'}),
  ee.Feature(ee.Geometry.Point([-81.229141, 31.518847]), {'site_id': '3'}),
  ee.Feature(ee.Geometry.Point([-81.365805, 31.451791]), {'site_id': '4'}),
  ee.Feature(ee.Geometry.Point([-81.340722, 31.435814]), {'site_id': '5'}),
  ee.Feature(ee.Geometry.Point([-81.280011, 31.387962]), {'site_id': '6'}),
  ee.Feature(ee.Geometry.Point([-81.478498, 31.334813]), {'site_id': '7'}),
  ee.Feature(ee.Geometry.Point([-81.415535, 31.30824]), {'site_id': '8'}),
  ee.Feature(ee.Geometry.Point([-81.333707, 31.351518]), {'site_id': '9'}),
  ee.Feature(ee.Geometry.Point([-81.270863, 31.476948]), {'site_id': '10'})
])

##Adding every plot coordinate
allplots_fc = 'C:/Users/arj26323/Documents/Data/Biomass datasets/Sapelo/GA_allplots_NEW.csv'
fc_all = geemap.csv_to_ee(allplots_fc, latitude = "Latitude", longitude = "Longitude")

# Map

In [25]:
##FLATS
def addFLATS(image):
    flats = ee.Image(0).expression(
        '1/(1+2.718281828459045**-(-1.57 + 20*(RED-SWIR)/(RED+SWIR) + 68.6*(GREEN-RED)/(GREEN+RED)))', {
            'SWIR': image.select('SR_B6'),
            'RED': image.select('SR_B4'),
            'GREEN': image.select('SR_B3')
        })
    
    return image.addBands(flats.rename('flats'))

def addFLATSL5(image):
    flats = ee.Image(0).expression(
        '1/(1+2.718281828459045**-(-1.57 + 20*(RED-SWIR)/(RED+SWIR) + 68.6*(GREEN-RED)/(GREEN+RED)))', {
            'SWIR': image.select('SR_B5'),
            'RED': image.select('SR_B3'),
            'GREEN': image.select('SR_B2')
        })
    
    return image.addBands(flats.rename('flats'))

#NDWI
def addndwi(image):
    ndwi = ee.Image(0).expression(
        '((RED-SWIR)/(RED+SWIR))', {
            'SWIR': image.select('SR_B6'),
            'RED': image.select('SR_B4'),
            'GREEN': image.select('SR_B3')
        })
    
    return image.addBands(ndwi.rename('ndwi'))

def addndwiL5(image):
    ndwi = ee.Image(0).expression(
        '((RED-SWIR)/(RED+SWIR))', {
            'SWIR': image.select('SR_B5'),
            'RED': image.select('SR_B3'),
            'GREEN': image.select('SR_B2')
        })
    
    return image.addBands(ndwi.rename('ndwi'))

#PHENO
def addpheno(image):
    pheno = ee.Image(0).expression(
        '((GREEN-RED)/(RED+GREEN))', {
            'SWIR': image.select('SR_B6'),
            'RED': image.select('SR_B4'),
            'GREEN': image.select('SR_B3')
        })
    
    return image.addBands(pheno.rename('pheno'))

def addphenoL5(image):
    pheno = ee.Image(0).expression(
        '((GREEN-RED)/(RED+GREEN))', {
            'SWIR': image.select('SR_B5'),
            'RED': image.select('SR_B3'),
            'GREEN': image.select('SR_B2')
        })
    
    return image.addBands(pheno.rename('pheno'))

In [26]:
##Function to cloud mask from the pixel_qa band of Landsat 5/8 SR data.
def maskL5sr(image):
    qaMask = image.select('QA_PIXEL').bitwiseAnd(int('11111', 2)).eq(0)
    saturationMask = image.select('QA_RADSAT').eq(0)
    # Apply the scaling factors to the appropriate bands.
    opticalBands = image.select('SR_B.').multiply(0.0000275).add(-0.2)
    thermalBands = image.select('ST_B.*').multiply(0.00341802).add(149.0)
    # Replace the original bands with the scaled ones and apply the masks.
    return image.addBands(opticalBands, None, True) \
    .addBands(thermalBands, None, True) \
    .updateMask(qaMask) \
    .updateMask(saturationMask)

In [27]:
#Coincident imagery
l8_col = ee.ImageCollection('LANDSAT/LC08/C02/T1_L2') \
    .filter(ee.Filter.calendarRange(1998, 2023,'year')) \
    .filterBounds(ga_pts) \
    .map(addFLATS).map(addndwi).map(addpheno)

l7_col = ee.ImageCollection('LANDSAT/LE07/C02/T1_L2') \
    .filter(ee.Filter.calendarRange(1998, 2023,'year')) \
    .filterBounds(ga_pts)\
    .map(addFLATSL5).map(addndwiL5).map(addphenoL5)

l5_col = ee.ImageCollection('LANDSAT/LT05/C02/T1_L2') \
    .filter(ee.Filter.calendarRange(1998, 2023,'year')) \
    .filterBounds(ga_pts)\
    .map(addFLATSL5).map(addndwiL5).map(addphenoL5)

l9_col = ee.ImageCollection("LANDSAT/LC09/C02/T1_L2") \
    .filter(ee.Filter.calendarRange(1998, 2023,'year')) \
    .filterBounds(ga_pts)\
    .map(addFLATS).map(addndwi).map(addpheno)

##ALL MIGRATED TO COLLECTION 2!

In [28]:
print(l5_col.size().getInfo())
print(l7_col.size().getInfo())
print(l8_col.size().getInfo())
print(l9_col.size().getInfo())

505
931
622
112

In [29]:
# print('Landsat 5/7 coincident images: ' + str(L57.size().getInfo()))
# print('Landsat 7/8 coincident images: ' + str(L78.size().getInfo()))
# print('Landsat 8/9 coincident images: ' + str(L89.size().getInfo()))

# L89.aggregate_array('system:id').getInfo()

#Only ONE instance of same-day imagery for all 3 sensors over the 20+-year period

In [30]:
#Near coincident imagery - within one day (or 86400000 milliseconds)

filterNear = ee.Filter.maxDifference(
    difference = 86400000,
    leftField='system:time_start',
    rightField='system:time_start'
)

simpleJoin = ee.Join.simple()

N57 = ee.ImageCollection(simpleJoin.apply(l5_col, l7_col, filterNear))
N75 = ee.ImageCollection(simpleJoin.apply(l7_col, l5_col, filterNear))

N78 = ee.ImageCollection(simpleJoin.apply(l7_col, l8_col, filterNear))
N87 = ee.ImageCollection(simpleJoin.apply(l8_col, l7_col, filterNear))

N89 = ee.ImageCollection(simpleJoin.apply(l8_col, l9_col, filterNear))
N98 = ee.ImageCollection(simpleJoin.apply(l9_col, l8_col, filterNear))

print('Landsat 5/7 NEAR coincident images: ' + str(N57.size().getInfo()))
print('Landsat 7/8 NEAR coincident images: ' + str(N78.size().getInfo()))
print('Landsat 8/9 NEAR coincident images: ' + str(N89.size().getInfo()))

# print('Landsat 7/5 NEAR coincident images: ' + str(N75.size().getInfo()))
# print('Landsat 8/7 NEAR coincident images: ' + str(N87.size().getInfo()))
# print('Landsat 9/8 NEAR coincident images: ' + str(N98.size().getInfo()))

#Remember: this is just in Georgia! Discrepencies in image collection sizes due to some duplicate dates bewteen images
#See: https://gis.stackexchange.com/questions/345962/create-paired-images-by-near-date
#327, 257, 49

#12/01/2022 - Add landsat 7-9 comparison!
N79 = ee.ImageCollection(simpleJoin.apply(l7_col, l9_col, filterNear))
N97 = ee.ImageCollection(simpleJoin.apply(l9_col, l7_col, filterNear))

print('Landsat 7/9 NEAR coincident images: ' + str(N79.size().getInfo()))

Landsat 5/7 NEAR coincident images: 328
Landsat 7/8 NEAR coincident images: 260
Landsat 8/9 NEAR coincident images: 98
Landsat 7/9 NEAR coincident images: 22

In [31]:
# N57.aggregate_array('system:id').getInfo()
# N78.aggregate_array('system:id').getInfo()
# N89.aggregate_array('system:id').getInfo()

In [32]:
# N75.aggregate_array('system:id').getInfo()
# N87.aggregate_array('system:id').getInfo()
# N98.aggregate_array('system:id').getInfo()

#Some duplicate dates

In [33]:
x = N75.first()
props = geemap.image_props(x)
props.getInfo()

Map.addLayer(x)
# Map

In [34]:
#Mask clouds from images, add FLATS   
    
#     .map(maskL5sr) \
#     .map(addFLATS) \

In [35]:
#Tide determination: finding dates that are similar (%?) on near coincident images
tides = pd.read_csv('C:/Users/arj26323/Documents/Data/flats/water_level_filtered_1999_2022.csv')
tides['Date'] = pd.to_datetime(tides['Date'])
display(tides)
z = tides.iloc[:,[1,4,5]]
z

dictide = tides.groupby('Date')['Verified_m'].agg(list).to_dict()
dictide

##group by day and get av height? Or just around 15:54?

       Unnamed: 0       Date  Predicted..m. Preliminary..m. Verified_m   time
0               1 1999-01-01         -0.305               -     -0.226  15:54
1               2 1999-01-01         -0.371               -     -0.275  16:00
2               3 1999-01-01         -0.438               -     -0.319  16:06
3               4 1999-01-02          0.244               -      0.764  15:54
4               5 1999-01-02          0.181               -      0.703  16:00
...           ...        ...            ...             ...        ...    ...
26023       26024 2022-09-29          1.125               -      1.662  16:00
26024       26025 2022-09-29          1.104               -      1.662  16:06
26025       26026 2022-09-30          1.215               -      1.362  15:54
26026       26027 2022-09-30          1.212               -      1.392  16:00
26027       26028 2022-09-30          1.208               -        1.4  16:06

[26028 rows x 6 columns]

{Timestamp('1999-01-01 00:00:00'): ['-0.226', '-0.275', '-0.319'],
 Timestamp('1999-01-02 00:00:00'): ['0.764', '0.703', '0.631'],
 Timestamp('1999-01-03 00:00:00'): ['0.822', '0.766', '0.714'],
 Timestamp('1999-01-04 00:00:00'): ['0.846', '0.811', '0.779'],
 Timestamp('1999-01-05 00:00:00'): ['0.879', '0.864', '0.862'],
 Timestamp('1999-01-06 00:00:00'): ['0.991', '0.996', '0.999'],
 Timestamp('1999-01-07 00:00:00'): ['0.683', '0.682', '0.719'],
 Timestamp('1999-01-08 00:00:00'): ['0.443', '0.48', '0.516'],
 Timestamp('1999-01-09 00:00:00'): ['0.081', '0.126', '0.167'],
 Timestamp('1999-01-10 00:00:00'): ['-0.23', '-0.198', '-0.174'],
 Timestamp('1999-01-11 00:00:00'): ['-0.706', '-0.604', '-0.672'],
 Timestamp('1999-01-12 00:00:00'): ['-0.953', '-0.935', '-0.919'],
 Timestamp('1999-01-13 00:00:00'): ['-1.074', '-1.073', '-1.08'],
 Timestamp('1999-01-14 00:00:00'): ['-0.94', '-0.965', '-0.986'],
 Timestamp('1999-01-15 00:00:00'): ['-0.848', '-0.896', '-0.938'],
 Timestamp('1999-01-16 00:00:00'): ['-0.285', '-0.335', '-0.38'],
 Timestamp('1999-01-17 00:00:00'): ['0.118', '0.066', '0.027'],
 Timestamp('1999-01-18 00:00:00'): ['0.47', '0.423', '0.369'],
 Timestamp('1999-01-19 00:00:00'): ['0.658', '0.621', '0.582'],
 Timestamp('1999-01-20 00:00:00'): ['0.943', '0.927', '0.88'],
 Timestamp('1999-01-21 00:00:00'): ['1.049', '1.041', '1.034'],
 Timestamp('1999-01-22 00:00:00'): ['0.997', '1.006', '1.018'],
 Timestamp('1999-01-23 00:00:00'): ['0.774', '0.798', '0.825'],
 Timestamp('1999-01-24 00:00:00'): ['0.097', '0.193', '0.23'],
 Timestamp('1999-01-25 00:00:00'): ['-0.38', '-0.322', '-0.266'],
 Timestamp('1999-01-26 00:00:00'): ['-0.677', '-0.637', '-0.596'],
 Timestamp('1999-01-27 00:00:00'): ['-1.188', '-1.171', '-1.151'],
 Timestamp('1999-01-28 00:00:00'): ['-1.354', '-1.349', '-1.364'],
 Timestamp('1999-01-29 00:00:00'): ['-1.022', '-1.061', '-1.095'],
 Timestamp('1999-01-30 00:00:00'): ['-0.102', '-0.138', '-0.213'],
 Timestamp('1999-01-31 00:00:00'): ['0.762', '0.724', '0.679'],
 Timestamp('1999-02-01 00:00:00'): ['0.982', '0.905', '0.853'],
 Timestamp('1999-02-02 00:00:00'): ['0.966', '0.922', '0.884'],
 Timestamp('1999-02-03 00:00:00'): ['1.069', '1.031', '0.997'],
 Timestamp('1999-02-04 00:00:00'): ['0.958', '0.973', '0.913'],
 Timestamp('1999-02-05 00:00:00'): ['0.945', '0.959', '0.968'],
 Timestamp('1999-02-06 00:00:00'): ['0.715', '0.737', '0.757'],
 Timestamp('1999-02-07 00:00:00'): ['0.341', '0.368', '0.402'],
 Timestamp('1999-02-08 00:00:00'): ['-0.18', '-0.143', '-0.106'],
 Timestamp('1999-02-09 00:00:00'): ['-0.181', '-0.142', '-0.102'],
 Timestamp('1999-02-10 00:00:00'): ['-0.562', '-0.528', '-0.427'],
 Timestamp('1999-02-11 00:00:00'): ['-0.739', '-0.731', '-0.71'],
 Timestamp('1999-02-12 00:00:00'): ['-0.939', '-0.999', '-0.965'],
 Timestamp('1999-02-13 00:00:00'): ['-0.876', '-0.917', '-0.948'],
 Timestamp('1999-02-14 00:00:00'): ['-0.43', '-0.481', '-0.525'],
 Timestamp('1999-02-15 00:00:00'): ['-0.16', '-0.207', '-0.268'],
 Timestamp('1999-02-16 00:00:00'): ['0.263', '0.205', '0.154'],
 Timestamp('1999-02-17 00:00:00'): ['0.633', '0.587', '0.535'],
 Timestamp('1999-02-18 00:00:00'): ['0.981', '0.945', '0.905'],
 Timestamp('1999-02-19 00:00:00'): ['1.253', '1.233', '1.204'],
 Timestamp('1999-02-20 00:00:00'): ['1.258', '1.264', '1.276'],
 Timestamp('1999-02-21 00:00:00'): ['0.982', '1.011', '1.028'],
 Timestamp('1999-02-22 00:00:00'): ['0.559', '0.593', '0.64'],
 Timestamp('1999-02-23 00:00:00'): ['0.062', '0.112', '0.155'],
 Timestamp('1999-02-24 00:00:00'): ['-0.377', '-0.345', '-0.306'],
 Timestamp('1999-02-25 00:00:00'): ['-0.886', '-0.864', '-0.842'],
 Timestamp('1999-02-26 00:00:00'): ['-0.964', '-0.985', '-0.972'],
 Timestamp('1999-02-27 00:00:00'): ['-0.854', '-0.897', '-0.934'],
 Timestamp('1999-02-28 00:00:00'): ['-0.502', '-0.562', '-0.623'],
 Timestamp('1999-03-01 00:00:00'): ['-0.314', '-0.374', '-0.436'],
 Timestamp('1999-03-02 00:00:00'): ['0.287', '0.23', '0.177'],
 Timestamp('1999-03-03 00:00:00'): ['0.679', '0.624', '0.58'],
 Timestamp('1999-03-04 00:00:00'): ['0.569', '0.543', '0.51'],
 Timestamp('1999-03-05 00:00:00'): ['0.771', '0.743', '0.716'],
 Timestamp('1999-03-06 00:00:00'): ['0.781', '0.756', '0.739'],
 Timestamp('1999-03-07 00:00:00'): ['0.542', '0.608', '0.622'],
 Timestamp('1999-03-08 00:00:00'): ['0.557', '0.592', '0.607'],
 Timestamp('1999-03-09 00:00:00'): ['0.313', '0.373', '0.373'],
 Timestamp('1999-03-10 00:00:00'): ['-0.058', '-0.019', '0.015'],
 Timestamp('1999-03-11 00:00:00'): ['-0.218', '-0.188', '-0.148'],
 Timestamp('1999-03-12 00:00:00'): ['-0.542', '-0.519', '-0.49'],
 Timestamp('1999-03-13 00:00:00'): ['-0.761', '-0.749', '-0.733'],
 Timestamp('1999-03-14 00:00:00'): ['-0.812', '-0.845', '-0.848'],
 Timestamp('1999-03-15 00:00:00'): ['-0.954', '-0.999', '-1.04'],
 Timestamp('1999-03-16 00:00:00'): ['-0.433', '-0.497', '-0.549'],
 Timestamp('1999-03-17 00:00:00'): ['-0.157', '-0.217', '-0.282'],
 Timestamp('1999-03-18 00:00:00'): ['0.286', '0.228', '0.164'],
 Timestamp('1999-03-19 00:00:00'): ['0.814', '0.768', '0.721'],
 Timestamp('1999-03-20 00:00:00'): ['0.98', '0.939', '0.907'],
 Timestamp('1999-03-21 00:00:00'): ['1.023', '1.018', '1.014'],
 Timestamp('1999-03-22 00:00:00'): ['0.723', '0.748', '0.774'],
 Timestamp('1999-03-23 00:00:00'): ['0.36', '0.402', '0.445'],
 Timestamp('1999-03-24 00:00:00'): ['-0.131', '-0.095', '-0.038'],
 Timestamp('1999-03-25 00:00:00'): ['-0.644', '-0.602', '-0.557'],
 Timestamp('1999-03-26 00:00:00'): ['-0.714', '-0.671', '-0.644'],
 Timestamp('1999-03-27 00:00:00'): ['-1.116', '-1.123', '-1.056'],
 Timestamp('1999-03-28 00:00:00'): ['-1.164', '-1.192', '-1.22'],
 Timestamp('1999-03-29 00:00:00'): ['-0.948', '-0.998', '-1.036'],
 Timestamp('1999-03-30 00:00:00'): ['-0.427', '-0.485', '-0.536'],
 Timestamp('1999-03-31 00:00:00'): ['0.087', '0.032', '-0.022'],
 Timestamp('1999-04-01 00:00:00'): ['0.138', '0.086', '0.031'],
 Timestamp('1999-04-02 00:00:00'): ['0.37', '0.33', '0.287'],
 Timestamp('1999-04-03 00:00:00'): ['0.617', '0.586', '0.551'],
 Timestamp('1999-04-04 00:00:00'): ['0.699', '0.68', '0.662'],
 Timestamp('1999-04-05 00:00:00'): ['0.667', '0.649', '0.646'],
 Timestamp('1999-04-06 00:00:00'): ['0.787', '0.798', '0.81'],
 Timestamp('1999-04-07 00:00:00'): ['0.386', '0.409', '0.436'],
 Timestamp('1999-04-08 00:00:00'): ['-0.028', '0.013', '0.032'],
 Timestamp('1999-04-09 00:00:00'): ['-0.255', '-0.225', '-0.171'],
 Timestamp('1999-04-10 00:00:00'): ['-0.7', '-0.661', '-0.619'],
 Timestamp('1999-04-11 00:00:00'): ['-0.76', '-0.736', '-0.707'],
 Timestamp('1999-04-12 00:00:00'): ['-1.296', '-1.295', '-1.285'],
 Timestamp('1999-04-13 00:00:00'): ['-0.853', '-0.903', '-0.951'],
 Timestamp('1999-04-14 00:00:00'): ['-0.74', '-0.795', '-0.849'],
 Timestamp('1999-04-15 00:00:00'): ['-0.255', '-0.324', '-0.383'],
 Timestamp('1999-04-16 00:00:00'): ['-0.075', '-0.14', '-0.198'],
 Timestamp('1999-04-17 00:00:00'): ['0.374', '0.311', '0.228'],
 Timestamp('1999-04-18 00:00:00'): ['0.672', '0.629', '0.586'],
 Timestamp('1999-04-19 00:00:00'): ['0.799', '0.787', '0.771'],
 Timestamp('1999-04-20 00:00:00'): ['0.677', '0.701', '0.671'],
 Timestamp('1999-04-21 00:00:00'): ['0.39', '0.427', '0.464'],
 Timestamp('1999-04-22 00:00:00'): ['-0.017', '0.04', '0.077'],
 Timestamp('1999-04-23 00:00:00'): ['-0.544', '-0.491', '-0.448'],
 Timestamp('1999-04-24 00:00:00'): ['-1.04', '-1.014', '-0.957'],
 Timestamp('1999-04-25 00:00:00'): ['-0.716', '-0.701', '-0.677'],
 Timestamp('1999-04-26 00:00:00'): ['-1.073', '-1.095', '-1.099'],
 Timestamp('1999-04-27 00:00:00'): ['-0.946', '-0.977', '-1.007'],
 Timestamp('1999-04-28 00:00:00'): ['-0.596', '-0.638', '-0.681'],
 Timestamp('1999-04-29 00:00:00'): ['-0.109', '-0.164', '-0.214'],
 Timestamp('1999-04-30 00:00:00'): ['0.28', '0.24', '0.202'],
 Timestamp('1999-05-01 00:00:00'): ['0.816', '0.771', '0.728'],
 Timestamp('1999-05-02 00:00:00'): ['0.881', '0.85', '0.824'],
 Timestamp('1999-05-03 00:00:00'): ['0.652', '0.728', '0.673'],
 Timestamp('1999-05-04 00:00:00'): ['0.749', '0.738', '0.724'],
 Timestamp('1999-05-05 00:00:00'): ['0.769', '0.774', '0.77'],
 Timestamp('1999-05-06 00:00:00'): ['0.6', '0.625', '0.634'],
 Timestamp('1999-05-07 00:00:00'): ['0.174', '0.207', '0.239'],
 Timestamp('1999-05-08 00:00:00'): ['-0.062', '-0.021', '0.017'],
 Timestamp('1999-05-09 00:00:00'): ['-0.425', '-0.381', '-0.332'],
 Timestamp('1999-05-10 00:00:00'): ['-0.814', '-0.769', '-0.732'],
 Timestamp('1999-05-11 00:00:00'): ['-1.068', '-1.057', '-1.033'],
 Timestamp('1999-05-12 00:00:00'): ['-1.289', '-1.308', '-1.314'],
 Timestamp('1999-05-13 00:00:00'): ['-1.183', '-1.228', '-1.27'],
 Timestamp('1999-05-14 00:00:00'): ['-0.725', '-0.794', '-0.857'],
 Timestamp('1999-05-15 00:00:00'): ['-0.015', '-0.069', '-0.126'],
 Timestamp('1999-05-16 00:00:00'): ['0.612', '0.56', '0.507'],
 Timestamp('1999-05-17 00:00:00'): ['0.98', '0.942', '0.894'],
 Timestamp('1999-05-18 00:00:00'): ['1.187', '1.166', '1.145'],
 Timestamp('1999-05-19 00:00:00'): ['1.036', '1.052', '1.061'],
 Timestamp('1999-05-20 00:00:00'): ['0.765', '0.802', '0.832'],
 Timestamp('1999-05-21 00:00:00'): ['0.338', '0.382', '0.423'],
 Timestamp('1999-05-22 00:00:00'): ['-0.212', '-0.162', '-0.117'],
 Timestamp('1999-05-23 00:00:00'): ['-0.697', '-0.656', '-0.613'],
 Timestamp('1999-05-24 00:00:00'): ['-1.1', '-1.055', '-1.015'],
 Timestamp('1999-05-25 00:00:00'): ['-1.162', '-1.145', '-1.143'],
 Timestamp('1999-05-26 00:00:00'): ['-1.12', '-1.134', '-1.159'],
 Timestamp('1999-05-27 00:00:00'): ['-0.924', '-0.953', '-0.979'],
 Timestamp('1999-05-28 00:00:00'): ['-0.651', '-0.725', '-0.744'],
 Timestamp('1999-05-29 00:00:00'): ['-0.377', '-0.433', '-0.479'],
 Timestamp('1999-05-30 00:00:00'): ['-0.127', '-0.175', '-0.222'],
 Timestamp('1999-05-31 00:00:00'): ['0.197', '0.162', '0.13'],
 Timestamp('1999-06-01 00:00:00'): ['0.413', '0.38', '0.348'],
 Timestamp('1999-06-02 00:00:00'): ['0.528', '0.501', '0.473'],
 Timestamp('1999-06-03 00:00:00'): ['0.508', '0.514', '0.508'],
 Timestamp('1999-06-04 00:00:00'): ['0.576', '0.59', '0.602'],
 Timestamp('1999-06-05 00:00:00'): ['0.687', '0.717', '0.741'],
 Timestamp('1999-06-06 00:00:00'): ['0.342', '0.386', '0.426'],
 Timestamp('1999-06-07 00:00:00'): ['-0.011', '0.029', '0.074'],
 Timestamp('1999-06-08 00:00:00'): ['-0.579', '-0.524', '-0.489'],
 Timestamp('1999-06-09 00:00:00'): ['-1.151', '-1.11', '-1.066'],
 Timestamp('1999-06-10 00:00:00'): ['-1.487', '-1.486', '-1.477'],
 Timestamp('1999-06-11 00:00:00'): ['-1.284', '-1.311', '-1.33'],
 Timestamp('1999-06-12 00:00:00'): ['-0.606', '-0.673', '-0.72'],
 Timestamp('1999-06-13 00:00:00'): ['-0.258', '-0.323', '-0.377'],
 Timestamp('1999-06-14 00:00:00'): ['0.211', '0.154', '0.097'],
 Timestamp('1999-06-15 00:00:00'): ['0.595', '0.549', '0.5'],
 Timestamp('1999-06-16 00:00:00'): ['0.89', '0.858', '0.821'],
 Timestamp('1999-06-17 00:00:00'): ['0.974', '0.96', '0.954'],
 Timestamp('1999-06-18 00:00:00'): ['1.014', '1.04', '1.057'],
 Timestamp('1999-06-19 00:00:00'): ['0.725', '0.764', '0.802'],
 Timestamp('1999-06-20 00:00:00'): ['0.191', '0.24', '0.291'],
 Timestamp('1999-06-21 00:00:00'): ['-0.231', '-0.195', '-0.16'],
 Timestamp('1999-06-22 00:00:00'): ['-0.562', '-0.521', '-0.483'],
 Timestamp('1999-06-23 00:00:00'): ['-0.791', '-0.77', '-0.744'],
 Timestamp('1999-06-24 00:00:00'): ['-0.932', '-0.928', '-0.926'],
 Timestamp('1999-06-25 00:00:00'): ['-1.014', '-1.033', '-1.031'],
 Timestamp('1999-06-26 00:00:00'): ['-0.956', '-0.95', '-0.974'],
 Timestamp('1999-06-27 00:00:00'): ['-0.664', '-0.713', '-0.758'],
 Timestamp('1999-06-28 00:00:00'): ['-0.529', '-0.583', '-0.632'],
 Timestamp('1999-06-29 00:00:00'): ['-0.291', '-0.347', '-0.403'],
 Timestamp('1999-06-30 00:00:00'): ['0.157', '0.105', '0.054'],
 Timestamp('1999-07-01 00:00:00'): ['0.336', '0.283', '0.259'],
 Timestamp('1999-07-02 00:00:00'): ['0.702', '0.689', '0.675'],
 Timestamp('1999-07-03 00:00:00'): ['0.84', '0.826', '0.807'],
 Timestamp('1999-07-04 00:00:00'): ['0.765', '0.782', '0.795'],
 Timestamp('1999-07-05 00:00:00'): ['0.475', '0.515', '0.551'],
 Timestamp('1999-07-06 00:00:00'): ['-0.002', '0.056', '0.114'],
 Timestamp('1999-07-07 00:00:00'): ['-0.451', '-0.396', '-0.338'],
 Timestamp('1999-07-08 00:00:00'): ['-1.16', '-1.106', '-1.048'],
 Timestamp('1999-07-09 00:00:00'): ['-1.606', '-1.577', '-1.548'],
 Timestamp('1999-07-10 00:00:00'): ['-1.676', '-1.702', '-1.714'],
 Timestamp('1999-07-11 00:00:00'): ['-1.403', '-1.453', '-1.503'],
 Timestamp('1999-07-12 00:00:00'): ['-0.523', '-0.594', '-0.656'],
 Timestamp('1999-07-13 00:00:00'): ['0.097', '0.043', '-0.016'],
 Timestamp('1999-07-14 00:00:00'): ['0.576', '0.535', '0.491'],
 Timestamp('1999-07-15 00:00:00'): ['0.893', '0.87', '0.845'],
 Timestamp('1999-07-16 00:00:00'): ['1.012', '1.001', '0.975'],
 Timestamp('1999-07-17 00:00:00'): ['0.935', '0.941', '0.945'],
 Timestamp('1999-07-18 00:00:00'): ['0.697', '0.698', '0.75'],
 Timestamp('1999-07-19 00:00:00'): ['0.268', '0.304', '0.341'],
 Timestamp('1999-07-20 00:00:00'): ['-0.128', '-0.095', '-0.055'],
 Timestamp('1999-07-21 00:00:00'): ['-0.445', '-0.393', '-0.349'],
 Timestamp('1999-07-22 00:00:00'): ['-0.63', '-0.593', '-0.546'],
 Timestamp('1999-07-23 00:00:00'): ['-0.88', '-0.856', '-0.826'],
 Timestamp('1999-07-24 00:00:00'): ['-1.111', '-1.1', '-1.087'],
 Timestamp('1999-07-25 00:00:00'): ['-1.041', '-1.068', '-1.092'],
 Timestamp('1999-07-26 00:00:00'): ['-0.877', '-0.912', '-0.946'],
 Timestamp('1999-07-27 00:00:00'): ['-0.599', '-0.647', '-0.689'],
 Timestamp('1999-07-28 00:00:00'): ['-0.149', '-0.204', '-0.256'],
 Timestamp('1999-07-29 00:00:00'): ['0.224', '0.179', '0.133'],
 Timestamp('1999-07-30 00:00:00'): ['0.551', '0.513', '0.475'],
 Timestamp('1999-07-31 00:00:00'): ['0.785', '0.777', '0.724'],
 Timestamp('1999-08-01 00:00:00'): ['0.989', '0.98', '0.963'],
 Timestamp('1999-08-02 00:00:00'): ['1.057', '1.068', '1.073'],
 Timestamp('1999-08-03 00:00:00'): ['1.126', '1.152', '1.183'],
 Timestamp('1999-08-04 00:00:00'): ['0.679', '0.735', '0.791'],
 Timestamp('1999-08-05 00:00:00'): ['0.043', '0.104', '0.169'],
 Timestamp('1999-08-06 00:00:00'): ['-0.597', '-0.541', '-0.485'],
 Timestamp('1999-08-07 00:00:00'): ['-1.229', '-1.197', '-1.154'],
 Timestamp('1999-08-08 00:00:00'): ['-1.547', '-1.555', '-1.559'],
 Timestamp('1999-08-09 00:00:00'): ['-1.262', '-1.308', '-1.353'],
 Timestamp('1999-08-10 00:00:00'): ['-0.599', '-0.658', '-0.698'],
 Timestamp('1999-08-11 00:00:00'): ['0.03', '-0.02', '-0.105'],
 Timestamp('1999-08-12 00:00:00'): ['0.475', '0.426', '0.379'],
 Timestamp('1999-08-13 00:00:00'): ['0.824', '0.791', '0.744'],
 Timestamp('1999-08-14 00:00:00'): ['1.061', '1.032', '1.006'],
 Timestamp('1999-08-15 00:00:00'): ['1.026', '1.014', '1.002'],
 Timestamp('1999-08-16 00:00:00'): ['0.848', '0.851', '0.856'],
 Timestamp('1999-08-17 00:00:00'): ['0.619', '0.629', '0.677'],
 Timestamp('1999-08-18 00:00:00'): ['0.284', '0.322', '0.359'],
 Timestamp('1999-08-19 00:00:00'): ['-0.218', '-0.18', '-0.14'],
 Timestamp('1999-08-20 00:00:00'): ['-0.51', '-0.469', '-0.428'],
 Timestamp('1999-08-21 00:00:00'): ['-0.745', '-0.72', '-0.678'],
 Timestamp('1999-08-22 00:00:00'): ['-0.938', '-0.902', '-0.878'],
 Timestamp('1999-08-23 00:00:00'): ['-0.808', '-0.808', '-0.811'],
 Timestamp('1999-08-24 00:00:00'): ['-0.824', '-0.852', '-0.878'],
 Timestamp('1999-08-25 00:00:00'): ['-0.726', '-0.769', '-0.808'],
 Timestamp('1999-08-26 00:00:00'): ['-0.385', '-0.438', '-0.489'],
 Timestamp('1999-08-27 00:00:00'): ['0.065', '0.015', '-0.029'],
 Timestamp('1999-08-28 00:00:00'): ['0.618', '0.573', '0.536'],
 Timestamp('1999-08-29 00:00:00'): ['1.217', '1.204', '1.177'],
 Timestamp('1999-08-30 00:00:00'): ['1.343', '1.331', '1.312'],
 Timestamp('1999-08-31 00:00:00'): ['1.312', '1.318', '1.321'],
 Timestamp('1999-09-01 00:00:00'): ['1.176', '1.199', '1.234'],
 Timestamp('1999-09-02 00:00:00'): ['0.825', '0.879', '0.929'],
 Timestamp('1999-09-03 00:00:00'): ['0.437', '0.497', '0.556'],
 Timestamp('1999-09-04 00:00:00'): ['-0.187', '-0.14', '-0.091'],
 Timestamp('1999-09-05 00:00:00'): ['-0.923', '-0.892', '-0.853'],
 Timestamp('1999-09-06 00:00:00'): ['-1.249', '-1.253', '-1.255'],
 Timestamp('1999-09-07 00:00:00'): ['-1.098', '-1.143', '-1.18'],
 Timestamp('1999-09-08 00:00:00'): ['-0.544', '-0.598', '-0.651'],
 Timestamp('1999-09-09 00:00:00'): ['-0.037', '-0.092', '-0.148'],
 Timestamp('1999-09-10 00:00:00'): ['0.373', '0.32', '0.261'],
 Timestamp('1999-09-11 00:00:00'): ['0.802', '0.761', '0.712'],
 Timestamp('1999-09-12 00:00:00'): ['1.186', '1.126', '1.119'],
 Timestamp('1999-09-13 00:00:00'): ['1.169', '1.163', '1.162'],
 Timestamp('1999-09-14 00:00:00'): ['1.158', '1.165', '1.178'],
 Timestamp('1999-09-15 00:00:00'): ['1.024', '1.039', '1.069'],
 Timestamp('1999-09-16 00:00:00'): ['0.752', '0.789', '0.821'],
 Timestamp('1999-09-17 00:00:00'): ['0.418', '0.447', '0.474'],
 Timestamp('1999-09-18 00:00:00'): ['0.128', '0.155', '0.199'],
 Timestamp('1999-09-19 00:00:00'): ['-0.217', '-0.175', '-0.142'],
 Timestamp('1999-09-20 00:00:00'): ['-0.569', '-0.55', '-0.53'],
 Timestamp('1999-09-21 00:00:00'): ['-0.681', '-0.686', '-0.67'],
 Timestamp('1999-09-22 00:00:00'): ['-0.592', '-0.618', '-0.637'],
 Timestamp('1999-09-23 00:00:00'): ['-0.483', '-0.517', '-0.555'],
 Timestamp('1999-09-24 00:00:00'): ['-0.117', '-0.162', '-0.214'],
 Timestamp('1999-09-25 00:00:00'): ['0.156', '0.112', '0.061'],
 Timestamp('1999-09-26 00:00:00'): ['0.585', '0.535', '0.474'],
 Timestamp('1999-09-27 00:00:00'): ['1.024', '0.992', '0.948'],
 Timestamp('1999-09-28 00:00:00'): ['1.274', '1.253', '1.221'],
 Timestamp('1999-09-29 00:00:00'): ['1.44', '1.437', '1.436'],
 Timestamp('1999-09-30 00:00:00'): ['1.249', '1.274', '1.292'],
 Timestamp('1999-10-01 00:00:00'): ['0.942', '0.99', '1.03'],
 Timestamp('1999-10-02 00:00:00'): ['0.45', '0.502', '0.559'],
 Timestamp('1999-10-03 00:00:00'): ['-0.314', '-0.256', '-0.199'],
 Timestamp('1999-10-04 00:00:00'): ['-0.834', '-0.791', '-0.743'],
 Timestamp('1999-10-05 00:00:00'): ['-1.066', '-1.062', '-1.044'],
 Timestamp('1999-10-06 00:00:00'): ['-0.736', '-0.773', '-0.8'],
 Timestamp('1999-10-07 00:00:00'): ['-0.303', '-0.356', '-0.395'],
 Timestamp('1999-10-08 00:00:00'): ['0.116', '0.062', '0.013'],
 Timestamp('1999-10-09 00:00:00'): ['0.385', '0.332', '0.288'],
 Timestamp('1999-10-10 00:00:00'): ['0.611', '0.565', '0.523'],
 Timestamp('1999-10-11 00:00:00'): ['0.876', '0.842', '0.804'],
 Timestamp('1999-10-12 00:00:00'): ['1.101', '1.081', '1.061'],
 Timestamp('1999-10-13 00:00:00'): ['1.218', '1.21', '1.198'],
 Timestamp('1999-10-14 00:00:00'): ['1.081', '1.084', '1.085'],
 Timestamp('1999-10-15 00:00:00'): ['1.069', '1.101', '1.113'],
 Timestamp('1999-10-16 00:00:00'): ['0.863', '0.91', '0.937'],
 Timestamp('1999-10-17 00:00:00'): ['0.352', '0.379', '0.398'],
 Timestamp('1999-10-18 00:00:00'): ['0.106', '0.15', '0.203'],
 Timestamp('1999-10-19 00:00:00'): ['-0.181', '-0.145', '-0.111'],
 Timestamp('1999-10-20 00:00:00'): ['-0.71', '-0.681', '-0.653'],
 Timestamp('1999-10-21 00:00:00'): ['-0.781', '-0.781', '-0.778'],
 Timestamp('1999-10-22 00:00:00'): ['-0.636', '-0.671', '-0.707'],
 Timestamp('1999-10-23 00:00:00'): ['-0.548', '-0.595', '-0.644'],
 Timestamp('1999-10-24 00:00:00'): ['0.055', '0.001', '-0.055'],
 Timestamp('1999-10-25 00:00:00'): ['0.4', '0.345', '0.287'],
 Timestamp('1999-10-26 00:00:00'): ['0.856', '0.817', '0.761'],
 Timestamp('1999-10-27 00:00:00'): ['1.163', '1.134', '1.093'],
 Timestamp('1999-10-28 00:00:00'): ['1.356', '1.31', '1.259'],
 Timestamp('1999-10-29 00:00:00'): ['1.235', '1.258', '1.274'],
 Timestamp('1999-10-30 00:00:00'): ['0.914', '0.951', '0.987'],
 Timestamp('1999-10-31 00:00:00'): ['0.301', '0.348', '0.405'],
 Timestamp('1999-11-01 00:00:00'): ['-0.255', '-0.213', '-0.134'],
 Timestamp('1999-11-02 00:00:00'): ['-0.933', '-0.879', '-0.819'],
 Timestamp('1999-11-03 00:00:00'): ['-1.272', '-1.254', '-1.236'],

In [36]:
y57 = pd.DataFrame(N57.aggregate_array('system:id').getInfo(),columns = ['Image'], index = None)
y57['Sensor'] = 'Landsat 5/7'
y57['LS'] = 'Landsat 5'

y75 = pd.DataFrame(N75.aggregate_array('system:id').getInfo(),columns = ['Image'], index = None)
y75['Sensor'] = 'Landsat 7/5'
y75['LS'] = 'Landsat 7'

y78 = pd.DataFrame(N78.aggregate_array('system:id').getInfo(),columns = ['Image'], index = None)
y78['Sensor'] = 'Landsat 7/8'
y78['LS'] = 'Landsat 7'

y87 = pd.DataFrame(N87.aggregate_array('system:id').getInfo(),columns = ['Image'], index = None)
y87['Sensor'] = 'Landsat 8/7'
y87['LS'] = 'Landsat 8'

y89 = pd.DataFrame(N89.aggregate_array('system:id').getInfo(),columns = ['Image'], index = None)
y89['Sensor'] = 'Landsat 8/9'
y89['LS'] = 'Landsat 8'

y98 = pd.DataFrame(N98.aggregate_array('system:id').getInfo(),columns = ['Image'], index = None)
y98['Sensor'] = 'Landsat 9/8'
y98['LS'] = 'Landsat 9'

df = pd.concat([y57,y75,y78,y87,y89,y98], axis = 0)
df['Date'] = pd.to_datetime(df.Image.str.split('_').str[3])
df

#Added 12/01/22 - 7/9 comparison
y79 = pd.DataFrame(N79.aggregate_array('system:id').getInfo(),columns = ['Image'], index = None)
y79['Sensor'] = 'Landsat 7/9'
y79['LS'] = 'Landsat 7'

y97 = pd.DataFrame(N97.aggregate_array('system:id').getInfo(),columns = ['Image'], index = None)
y97['Sensor'] = 'Landsat 9/7'
y97['LS'] = 'Landsat 9'

In [37]:
# df1 = pd.merge(df,z, on = 'Date', how = 'left') #Lots of duplicate dates, it seems
# df1

df['Tide_height'] = df['Date'].map(dictide)

df1 = df.groupby(['Date', 'Image']).agg(list)
df1 =df1.reset_index()

# df1 = df1.explode('Tide_height')

# df1 = df1.iloc[:-3 , :]


# df1['LS'] = df1['Sensor'].apply(', '.join).map(new_dict)

# df1 = pd.concat(
#     [
#         dfx, pd.DataFrame(dfx['Tide_height'].tolist(), columns=['Tide_1145', 'Tide_1200', 'Tide_1215'], index=df.index)
#     ], axis=1
# )


# df1[['Tide_1145', 'Tide_1200', 'Tide_1215']] = df1['Tide_height'].str.split(',', expand = True)
# split = pd.DataFrame(df1['Tide_height'].to_list(), columns = ['Tide_1145', 'Tide_1200', 'Tide_1215'])
# df1 = pd.concat([df1, split], axis=1) 

df1

,Date,Image,Sensor,LS,Tide_height
0,1999-07-10,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990710,[Landsat 7/5],[Landsat 7],"[[-1.676, -1.702, -1.714]]"
1,1999-07-11,LANDSAT/LT05/C02/T1_L2/LT05_016038_19990711,[Landsat 5/7],[Landsat 5],"[[-1.403, -1.453, -1.503]]"
2,1999-07-26,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990726,[Landsat 7/5],[Landsat 7],"[[-0.877, -0.912, -0.946]]"
3,1999-07-27,LANDSAT/LT05/C02/T1_L2/LT05_016038_19990727,[Landsat 5/7],[Landsat 5],"[[-0.599, -0.647, -0.689]]"
4,1999-08-11,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990811,[Landsat 7/5],[Landsat 7],"[[0.03, -0.02, -0.105]]"
...,...,...,...,...,...
1448,2023-08-14,LANDSAT/LC08/C02/T1_L2/LC08_016038_20230814,[Landsat 8/9],[Landsat 8],[nan]
1449,2023-08-14,LANDSAT/LC08/C02/T1_L2/LC08_016039_20230814,[Landsat 8/9],[Landsat 8],[nan]
1450,2023-08-21,LANDSAT/LC08/C02/T1_L2/LC08_017038_20230821,[Landsat 8/9],[Landsat 8],[nan]
1451,2023-08-22,LANDSAT/LC09/C02/T1_L2/LC09_016038_20230822,[Landsat 9/8],[Landsat 9],[nan]
1452,2023-08-22,LANDSAT/LC09/C02/T1_L2/LC09_016039_20230822,[Landsat 9/8],[Landsat 9],[nan]

In [38]:
#Export CSV file
out_dir = os.path.expanduser('~/Downloads')
out_csv = os.path.join(out_dir, 'flats_images.csv')
# df1.to_csv(out_csv, index = True)

In [39]:
gce_clip = 'F:/Wetlands shapefiles/GA_shapefile_wetlands/GA_simple.shp' ##Simplified GCE domain - reduced number of vertices
vcr_clip = 'F:/Wetlands shapefiles/VA_shapefile_wetlands/VA_simple.shp' ##Simplified VCR domain - reduced number of vertices
pie_clip = 'F:/Wetlands shapefiles/MA_shapefile_wetlands/MA_simple.shp' ##Simplified PIE domain - reduced number of vertices
wet_ga = geemap.shp_to_ee(gce_clip)
wet_va = geemap.shp_to_ee(vcr_clip)
wet_ma = geemap.shp_to_ee(pie_clip)
joinedFeatures = wet_ga.union()

gce_clipdiss = 'F:/Wetlands shapefiles/GA_shapefile_wetlands/GA_simpledissolve.shp'
dissolve_ga = geemap.shp_to_ee(gce_clipdiss)

gce_smalldiss = 'F:/Wetlands shapefiles/GA_shapefile_wetlands/GA_smalldissolve.shp'
gce_smalldiss2 = 'F:/Wetlands shapefiles/GA_shapefile_wetlands/GA_smalldissolve2.shp'
gce_smalldiss3 = 'F:/Wetlands shapefiles/GA_shapefile_wetlands/GA_smalldissolve3.shp'

smalldissolve_ga = geemap.shp_to_ee(gce_smalldiss2)

In [40]:
combined_image = x5.addBands(x7)
region = dissolve_ga
sample57 = combined_image.sampleRegions(collection = region, scale = 30) #PLAY with these parameters
# chart = ui.Chart.feature.byFeature(sample, 'SR_B1', 'B1').setChartType('ScatterChart')
# print(chart)
sample57x = geemap.ee_to_pandas(sample57)
# sample57x.head()

NameError: name 'x5' is not defined

In [ ]:
# for col in samplex.columns:
#     print(col)

In [ ]:
import seaborn as sns
g = sns.FacetGrid(data=sample57x, aspect=1.5, palette='BuGn')
g.map(plt.scatter, 'ndwi', 'ndwi_1').add_legend()
g.set_axis_labels("L5 ndwi", "L7 ndwi")
plt.plot([-0.6, 1], [-0.6, 1], 'k--')

##NIR band and pheno/ndwi show good correlations, Flats however does not

In [ ]:
x8 = ee.Image(df1.loc[1327, 'Image'])
x9 = ee.Image(df1.loc[1328, 'Image'])

x8 = ee.Image(addFLATS(addpheno(addndwi(maskL5sr(x8)))))
x9 = ee.Image(addFLATS(addpheno(addndwi(maskL5sr(x9)))))

combined_89 = x8.addBands(x9)
region = smalldissolve_ga #Region depends on cloud masking!
sample89 = combined_89.sampleRegions(collection = region, scale = 30) 
sample89x = geemap.ee_to_pandas(sample89)

In [ ]:
g = sns.FacetGrid(data=sample89x, aspect=1.5, palette='BuGn')
g.map(plt.scatter, 'ndwi', 'ndwi_1').add_legend() #Something seems wrong here - check functions in beginning
g.set_axis_labels("L8 pheno", "L9 pheno")

In [ ]:
# x9.getInfo()

In [ ]:
Map.addLayer(x8, {}, 'L8')
Map.addLayer(x9, {}, 'L9')
Map.addLayer(wet_ga, {}, 'GCE')
# Map

In [42]:
#Creating dataframes with pairs of images to be used
y57['Date_A'] = pd.to_datetime(y57.Image.str.split('_').str[3])
y75['Date_B'] = pd.to_datetime(y75.Image.str.split('_').str[3])
y78['Date_A'] = pd.to_datetime(y78.Image.str.split('_').str[3])
y87['Date_B'] = pd.to_datetime(y87.Image.str.split('_').str[3])
y89['Date_A'] = pd.to_datetime(y89.Image.str.split('_').str[3])
y98['Date_B'] = pd.to_datetime(y98.Image.str.split('_').str[3])

#Added 12/01/22 - L7/9 comparison
y79['Date_A'] = pd.to_datetime(y79.Image.str.split('_').str[3])
y97['Date_B'] = pd.to_datetime(y97.Image.str.split('_').str[3])

merged57 = pd.merge_asof(
    y57.sort_values('Date_A'), 
    y75.sort_values('Date_B'), 
    left_on = 'Date_A',
    right_on = 'Date_B', 
    direction = 'nearest', 
    tolerance=pd.Timedelta("86400000ms")
)

merged78 = pd.merge_asof(
    y78.sort_values('Date_A'), 
    y87.sort_values('Date_B'),
    left_on = 'Date_A',
    right_on = 'Date_B', 
    direction = 'nearest', 
    tolerance=pd.Timedelta("86400000ms")
)

merged89 = pd.merge_asof(
    y89.sort_values('Date_A'), 
    y98.sort_values('Date_B'), 
    left_on = 'Date_A',
    right_on = 'Date_B', 
    direction = 'nearest', 
    tolerance=pd.Timedelta("86400000ms")
)

#Added 12/01/22 - L7/9 comparison
merged79 = pd.merge_asof(
    y79.sort_values('Date_A'), 
    y97.sort_values('Date_B'), 
    left_on = 'Date_A',
    right_on = 'Date_B', 
    direction = 'nearest', 
    tolerance=pd.Timedelta("86400000ms")
)

# dfx = pd.concat([merged57, merged78, merged89], axis = 0)
# merged57=merged57[merged57['Image_y'].notna()]
# dfx

In [43]:
dfx = pd.concat([merged57, merged78, merged89], axis = 0)
# merged57=merged57[merged57['Image_y'].notna()]
dfx

,Image_x,Sensor_x,LS_x,Date_A,Image_y,Sensor_y,LS_y,Date_B
0,LANDSAT/LT05/C02/T1_L2/LT05_016038_19990711,Landsat 5/7,Landsat 5,1999-07-11,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990710,Landsat 7/5,Landsat 7,1999-07-10
1,LANDSAT/LT05/C02/T1_L2/LT05_016038_19990727,Landsat 5/7,Landsat 5,1999-07-27,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990726,Landsat 7/5,Landsat 7,1999-07-26
2,LANDSAT/LT05/C02/T1_L2/LT05_016038_19990812,Landsat 5/7,Landsat 5,1999-08-12,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990811,Landsat 7/5,Landsat 7,1999-08-11
3,LANDSAT/LT05/C02/T1_L2/LT05_016038_19990828,Landsat 5/7,Landsat 5,1999-08-28,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990827,Landsat 7/5,Landsat 7,1999-08-27
4,LANDSAT/LT05/C02/T1_L2/LT05_016038_19990913,Landsat 5/7,Landsat 5,1999-09-13,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990912,Landsat 7/5,Landsat 7,1999-09-12
...,...,...,...,...,...,...,...,...
93,LANDSAT/LC08/C02/T1_L2/LC08_017038_20230720,Landsat 8/9,Landsat 8,2023-07-20,LANDSAT/LC09/C02/T1_L2/LC09_016039_20230721,Landsat 9/8,Landsat 9,2023-07-21
94,LANDSAT/LC08/C02/T1_L2/LC08_017038_20230805,Landsat 8/9,Landsat 8,2023-08-05,LANDSAT/LC09/C02/T1_L2/LC09_016038_20230806,Landsat 9/8,Landsat 9,2023-08-06
95,LANDSAT/LC08/C02/T1_L2/LC08_016039_20230814,Landsat 8/9,Landsat 8,2023-08-14,LANDSAT/LC09/C02/T1_L2/LC09_017038_20230813,Landsat 9/8,Landsat 9,2023-08-13
96,LANDSAT/LC08/C02/T1_L2/LC08_016038_20230814,Landsat 8/9,Landsat 8,2023-08-14,LANDSAT/LC09/C02/T1_L2/LC09_017038_20230813,Landsat 9/8,Landsat 9,2023-08-13
97,LANDSAT/LC08/C02/T1_L2/LC08_017038_20230821,Landsat 8/9,Landsat 8,2023-08-21,LANDSAT/LC09/C02/T1_L2/LC09_016039_20230822,Landsat 9/8,Landsat 9,2023-08-22

In [44]:
#Added 12/01/22 - L7/9 comparison
dfy = pd.concat([merged57, merged78, merged79], axis = 0)
dfy

,Image_x,Sensor_x,LS_x,Date_A,Image_y,Sensor_y,LS_y,Date_B
0,LANDSAT/LT05/C02/T1_L2/LT05_016038_19990711,Landsat 5/7,Landsat 5,1999-07-11,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990710,Landsat 7/5,Landsat 7,1999-07-10
1,LANDSAT/LT05/C02/T1_L2/LT05_016038_19990727,Landsat 5/7,Landsat 5,1999-07-27,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990726,Landsat 7/5,Landsat 7,1999-07-26
2,LANDSAT/LT05/C02/T1_L2/LT05_016038_19990812,Landsat 5/7,Landsat 5,1999-08-12,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990811,Landsat 7/5,Landsat 7,1999-08-11
3,LANDSAT/LT05/C02/T1_L2/LT05_016038_19990828,Landsat 5/7,Landsat 5,1999-08-28,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990827,Landsat 7/5,Landsat 7,1999-08-27
4,LANDSAT/LT05/C02/T1_L2/LT05_016038_19990913,Landsat 5/7,Landsat 5,1999-09-13,LANDSAT/LE07/C02/T1_L2/LE07_017038_19990912,Landsat 7/5,Landsat 7,1999-09-12
...,...,...,...,...,...,...,...,...
17,LANDSAT/LE07/C02/T1_L2/LE07_017038_20220920,Landsat 7/9,Landsat 7,2022-09-20,LANDSAT/LC09/C02/T1_L2/LC09_016038_20220920,Landsat 9/7,Landsat 9,2022-09-20
18,LANDSAT/LE07/C02/T1_L2/LE07_017038_20221007,Landsat 7/9,Landsat 7,2022-10-07,LANDSAT/LC09/C02/T1_L2/LC09_016038_20221006,Landsat 9/7,Landsat 9,2022-10-06
19,LANDSAT/LE07/C02/T1_L2/LE07_016038_20230117,Landsat 7/9,Landsat 7,2023-01-17,LANDSAT/LC09/C02/T1_L2/LC09_017038_20230117,Landsat 9/7,Landsat 9,2023-01-17
20,LANDSAT/LE07/C02/T1_L2/LE07_017038_20230502,Landsat 7/9,Landsat 7,2023-05-02,LANDSAT/LC09/C02/T1_L2/LC09_016039_20230502,Landsat 9/7,Landsat 9,2023-05-02
21,LANDSAT/LE07/C02/T1_L2/LE07_016038_20230610,Landsat 7/9,Landsat 7,2023-06-10,LANDSAT/LC09/C02/T1_L2/LC09_017038_20230610,Landsat 9/7,Landsat 9,2023-06-10

In [45]:
#Test correlation
x5 = ee.Image(df1.loc[1, 'Image'])
x7 = ee.Image(df1.loc[0, 'Image'])

x5 = ee.Image(addFLATSL5(addphenoL5(addndwiL5(maskL5sr(x5)))))
x7 = ee.Image(addFLATSL5(addphenoL5(addndwiL5(maskL5sr(x7)))))

# l789 = ee.Image('LANDSAT/LC08/C02/T1_L2/LC08_016038_20220726')
# Map.addLayer(l789, {}, 'L789')
# Map.addLayer(x5, {}, 'L5')
Map.addLayer(x7, {}, 'L7')
# Map.addLayer(wet_ga, {}, 'GCE')
Map.addLayer(dissolve_ga, {}, 'diss')
Map.addLayer(smalldissolve_ga, {}, 'smalldiss')
Map

#https://stackoverflow.com/questions/56823271/scatter-plot-between-2-images-google-earth-engine

Map(center=[31.539096, -81.422318], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBo…

In [46]:
##Exporting

out_dir = os.path.expanduser('~/Downloads')
out_csv = os.path.join(out_dir, '79comp.csv')

# dfy.to_csv(out_csv)

In [47]:
#02/02/23: low/high tides for figures

#Coincident imagery
l8_col = ee.ImageCollection('LANDSAT/LC08/C02/T1_L2') \
    .filter(ee.Filter.calendarRange(1998, 2023,'year')) \
    .filterBounds(ga_pts) \
    .filter(ee.Filter.lte('CLOUD_COVER', 10))

l7_col = ee.ImageCollection('LANDSAT/LE07/C02/T1_L2') \
    .filter(ee.Filter.calendarRange(1998, 2023,'year')) \
    .filterBounds(ga_pts)\
    .filter(ee.Filter.lte('CLOUD_COVER', 10))

l5_col = ee.ImageCollection('LANDSAT/LT05/C02/T1_L2') \
    .filter(ee.Filter.calendarRange(1984, 2023,'year')) \
    .filterBounds(ga_pts) \
    .filter(ee.Filter.lte('CLOUD_COVER', 10))

l9_col = ee.ImageCollection("LANDSAT/LC09/C02/T1_L2") \
    .filter(ee.Filter.calendarRange(1998, 2023,'year')) \
    .filterBounds(ga_pts)\
    .filter(ee.Filter.lte('CLOUD_COVER', 90))

#Tides
tides = pd.read_csv('C:/Users/arj26323/Documents/Data/flats/water_level_filtered_1999_2022.csv')
tides['Date'] = pd.to_datetime(tides['Date'], format = '%m/%d/%Y')

tides['Verified_m'] = tides['Verified_m'].str.replace("\U00002013", "-").str.replace(r'^-$', '0', regex=True).astype(float)

# display(tides['Date'])

dictide = tides.groupby(['Date'], as_index = False).aggregate({'Verified_m': np.mean}).set_index('Date').to_dict()['Verified_m']

In [48]:
# tides
tides

       Unnamed: 0       Date  Predicted..m. Preliminary..m.  Verified_m   time
0               1 1999-01-01         -0.305               -      -0.226  15:54
1               2 1999-01-01         -0.371               -      -0.275  16:00
2               3 1999-01-01         -0.438               -      -0.319  16:06
3               4 1999-01-02          0.244               -       0.764  15:54
4               5 1999-01-02          0.181               -       0.703  16:00
...           ...        ...            ...             ...         ...    ...
26023       26024 2022-09-29          1.125               -       1.662  16:00
26024       26025 2022-09-29          1.104               -       1.662  16:06
26025       26026 2022-09-30          1.215               -       1.362  15:54
26026       26027 2022-09-30          1.212               -       1.392  16:00
26027       26028 2022-09-30          1.208               -       1.400  16:06

[26028 rows x 6 columns]

In [49]:
#L5
df5 = pd.DataFrame(l5_col.aggregate_array('system:id').getInfo(),columns = ['Image'], index = None)
df5['Sensor'] = 'Landsat 5'
df5['LS'] = 'Landsat 5'
df5['Date'] = pd.to_datetime(df5.Image.str.split('_').str[3])
df5['Tide'] = df5['Date'].map(dictide).astype(float)

#L7
df7 = pd.DataFrame(l7_col.aggregate_array('system:id').getInfo(),columns = ['Image'], index = None)
df7['Sensor'] = 'Landsat 7'
df7['LS'] = 'Landsat 7'
df7['Date'] = pd.to_datetime(df7.Image.str.split('_').str[3])
df7['Tide'] = df7['Date'].map(dictide).astype(float)

#L8
df8 = pd.DataFrame(l8_col.aggregate_array('system:id').getInfo(),columns = ['Image'], index = None)
df8['Sensor'] = 'Landsat 8'
df8['LS'] = 'Landsat 8'
df8['Date'] = pd.to_datetime(df8.Image.str.split('_').str[3])
df8['Tide'] = df8['Date'].map(dictide).astype(float)

#L9
df9 = pd.DataFrame(l9_col.aggregate_array('system:id').getInfo(),columns = ['Image'], index = None)
df9['Sensor'] = 'Landsat 9'
df9['LS'] = 'Landsat 9'
df9['Date'] = pd.to_datetime(df5.Image.str.split('_').str[3])
df9['Tide'] = df9['Date'].map(dictide).astype(float)

df5_low = df5[df5['Tide'] < -1.1]
df5_high = df5[df5['Tide'] > 0.9]

df7_low = df7[df7['Tide'] < -1.1]
df7_high = df7[df7['Tide'] > 0.9]

df8_low = df8[df8['Tide'] < -1.1]
df8_high = df8[df8['Tide'] > 0.9]

df9_low = df9[df9['Tide'] < -1.1]
df9_high = df9[df9['Tide'] > 0.9]

In [50]:
display(df5_high)
display(df5_low)

,Image,Sensor,LS,Date,Tide
151,LANDSAT/LT05/C02/T1_L2/LT05_016038_20090908,Landsat 5,Landsat 5,2009-09-08,1.085333
156,LANDSAT/LT05/C02/T1_L2/LT05_016038_20100911,Landsat 5,Landsat 5,2010-09-11,1.396000
169,LANDSAT/LT05/C02/T1_L2/LT05_016038_20111016,Landsat 5,Landsat 5,2011-10-16,0.993333
170,LANDSAT/LT05/C02/T1_L2/LT05_016038_20111101,Landsat 5,Landsat 5,2011-11-01,0.978333
272,LANDSAT/LT05/C02/T1_L2/LT05_017038_19991225,Landsat 5,Landsat 5,1999-12-25,1.433333
289,LANDSAT/LT05/C02/T1_L2/LT05_017038_20020912,Landsat 5,Landsat 5,2002-09-12,1.024333
294,LANDSAT/LT05/C02/T1_L2/LT05_017038_20030915,Landsat 5,Landsat 5,2003-09-15,0.997000
314,LANDSAT/LT05/C02/T1_L2/LT05_017038_20061126,Landsat 5,Landsat 5,2006-11-26,1.049000
318,LANDSAT/LT05/C02/T1_L2/LT05_017038_20070419,Landsat 5,Landsat 5,2007-04-19,0.958333
332,LANDSAT/LT05/C02/T1_L2/LT05_017038_20090627,Landsat 5,Landsat 5,2009-06-27,0.969333
341,LANDSAT/LT05/C02/T1_L2/LT05_017038_20101223,Landsat 5,Landsat 5,2010-12-23,0.930000
346,LANDSAT/LT05/C02/T1_L2/LT05_017038_20110719,Landsat 5,Landsat 5,2011-07-19,1.061000

,Image,Sensor,LS,Date,Tide
104,LANDSAT/LT05/C02/T1_L2/LT05_016038_20010206,Landsat 5,Landsat 5,2001-02-06,-1.123667
110,LANDSAT/LT05/C02/T1_L2/LT05_016038_20010817,Landsat 5,Landsat 5,2001-08-17,-1.157333
114,LANDSAT/LT05/C02/T1_L2/LT05_016038_20020108,Landsat 5,Landsat 5,2002-01-08,-1.257000
121,LANDSAT/LT05/C02/T1_L2/LT05_016038_20030127,Landsat 5,Landsat 5,2003-01-27,-1.167333
129,LANDSAT/LT05/C02/T1_L2/LT05_016038_20050406,Landsat 5,Landsat 5,2005-04-06,-1.131333
136,LANDSAT/LT05/C02/T1_L2/LT05_016038_20060425,Landsat 5,Landsat 5,2006-04-25,-1.476000
147,LANDSAT/LT05/C02/T1_L2/LT05_016038_20080601,Landsat 5,Landsat 5,2008-06-01,-1.688667
155,LANDSAT/LT05/C02/T1_L2/LT05_016038_20100623,Landsat 5,Landsat 5,2010-06-23,-1.401667
166,LANDSAT/LT05/C02/T1_L2/LT05_016038_20110728,Landsat 5,Landsat 5,2011-07-28,-1.159667
266,LANDSAT/LT05/C02/T1_L2/LT05_017038_19990328,Landsat 5,Landsat 5,1999-03-28,-1.192000
275,LANDSAT/LT05/C02/T1_L2/LT05_017038_20000501,Landsat 5,Landsat 5,2000-05-01,-1.134333
290,LANDSAT/LT05/C02/T1_L2/LT05_017038_20021201,Landsat 5,Landsat 5,2002-12-01,-1.483667
296,LANDSAT/LT05/C02/T1_L2/LT05_017038_20031220,Landsat 5,Landsat 5,2003-12-20,-1.509333
306,LANDSAT/LT05/C02/T1_L2/LT05_017038_20060110,Landsat 5,Landsat 5,2006-01-10,-1.258000
316,LANDSAT/LT05/C02/T1_L2/LT05_017038_20070129,Landsat 5,Landsat 5,2007-01-29,-1.363333
320,LANDSAT/LT05/C02/T1_L2/LT05_017038_20070809,Landsat 5,Landsat 5,2007-08-09,-1.406667
329,LANDSAT/LT05/C02/T1_L2/LT05_017038_20090307,Landsat 5,Landsat 5,2009-03-07,-1.528333
344,LANDSAT/LT05/C02/T1_L2/LT05_017038_20110430,Landsat 5,Landsat 5,2011-04-30,-1.150333
347,LANDSAT/LT05/C02/T1_L2/LT05_017038_20111023,Landsat 5,Landsat 5,2011-10-23,-1.124333

In [72]:
collection = l8_col
# Function to print acquisition time in GMT
def print_acquisition_time(image):
    acquisition_time = ee.Date(image.get('system:time_start')).format('YYYY-MM-dd HH:mm:ss', 'GMT')
    print('Acquisition Time (GMT):', acquisition_time.getInfo())

# Apply the function to each image in the collection
for i in df5_low['Image']:
    print_acquisition_time(ee.Image(i))

Acquisition Time (GMT): 2001-02-06 15:34:38
Acquisition Time (GMT): 2001-08-17 15:34:55
Acquisition Time (GMT): 2002-01-08 15:33:39
Acquisition Time (GMT): 2003-01-27 15:27:15
Acquisition Time (GMT): 2005-04-06 15:41:43
Acquisition Time (GMT): 2006-04-25 15:46:27
Acquisition Time (GMT): 2008-06-01 15:42:40
Acquisition Time (GMT): 2010-06-23 15:45:12
Acquisition Time (GMT): 2011-07-28 15:43:37
Acquisition Time (GMT): 1999-03-28 15:39:33
Acquisition Time (GMT): 2000-05-01 15:36:14
Acquisition Time (GMT): 2002-12-01 15:32:21
Acquisition Time (GMT): 2003-12-20 15:39:27
Acquisition Time (GMT): 2006-01-10 15:50:29
Acquisition Time (GMT): 2007-01-29 15:55:44
Acquisition Time (GMT): 2007-08-09 15:54:13
Acquisition Time (GMT): 2009-03-07 15:47:09
Acquisition Time (GMT): 2011-04-30 15:50:26
Acquisition Time (GMT): 2011-10-23 15:48:45